
@model TM.RestHour.Models.Vessel

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@*<link href="~/link/css/vissel.css" rel="stylesheet" />*@
<link href="~/link/css/rank.css" rel="stylesheet" />

<script src="~/Scripts/Vessel.js"></script>


<body style="background-image: url(../background/vissel.jpg);
    background-size: cover;">


    <div class="col-md-4">
        <h2 class="ta">Manage Vessel Details</h2>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-md-8 bac">
                <div class="">

                    <div style="margin:0 auto" class="tablecontainer">
                        @*<button type="button" class="button" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Vessel</button><br /><br />*@

                        @Html.Hidden("myUrlGetVesselTypeIDFromShip", @Url.Action("GetVesselTypeIDFromShip", "Vessel"))
                        @Html.Hidden("myUrlid0", @Url.Action("GetVesselTypeForDrp", "Vessel"))
                        @Html.Hidden("myUrlid1", @Url.Action("GetVesselSubTypeByVesselTypeIDForDrp", "Vessel"))
                        @Html.Hidden("myUrlid2", @Url.Action("GetVesselSubSubTypeByVesselSubTypeIDForDrp", "Vessel"))

                        @Html.Hidden("myUrl", @Url.Action("GetShipByID", "Vessel"))
                        @Html.Hidden("myUrlNew", @Url.Action("GetShipByID", "Vessel"))
                        @Html.Hidden("addnew", @Url.Action("AddNewVessel", "Vessel"))
                        @Html.Hidden("Unitadd", @Url.Action("Add", "Vessel"))
                        @Html.Hidden("VesselUpdate", @Url.Action("Update", "Vessel"))
                        @Html.Hidden("loaddata", @Url.Action("LoadData", "Vessel"))
                        @Html.Hidden("deletedata", @Url.Action("DeleteVessel", "Vessel"))
                        <input type="hidden" id="hdncount" />
                        @Html.Hidden("isSuperAdminUser", Session["SuperAdmin"].ToString())
                        <input type="hidden" id="hdnrole" />
                        @if (Session["SuperAdmin"].ToString() == "True")
                        {

                            <div class="">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" id="ID" />
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselType">Vessel Type</label>
                                                    @*@Html.DropDownListFor(model => model.VesselTypeID, (IEnumerable<SelectListItem>)ViewBag.VesselType, "Select", new { @class = "form-control" })*@
                                                    <select id="VesselTypeID" name="VesselTypeID" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselSubType">Vessel Sub Type</label>
                                                    <select id="VesselSubTypeID" name="VesselSubTypeID" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselSubSubType">Vessel Sub Sub Type</label>
                                                    <select id="VesselSubSubTypeID" name="VesselSubSubTypeID" class="form-control"></select>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Vessel">Vessel</label>
                                                    <input type="text" class="form-control" id="Vessel" placeholder="Vessel" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for=" Flag">Flag</label>
                                                    <input type="text" class="form-control" id="Flag" placeholder="Flag" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="IMO Number">IMO Number</label>
                                                    <input type="text" class="form-control" id="IMONumber" placeholder="IMO Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card">
                                            <h4>Communications Resources</h4>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    <input type="text" class="form-control" id="Email1" placeholder="Email 1" />
                                                    <input type="text" class="form-control" id="Email2" placeholder="Email 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Voice">Voice</label>
                                                    <input type="text" class="form-control" id="Voice1" placeholder="Voice 1" />
                                                    <input type="text" class="form-control" id="Voice2" placeholder="Voice 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Fax">Fax</label>
                                                    <input type="text" class="form-control" id="Fax1" placeholder="Fax 1" />
                                                    <input type="text" class="form-control" id="Fax2" placeholder="Fax 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Video Call">Video Call(VOIP)</label>
                                                    <input type="text" class="form-control" id="VideoCall1" placeholder="Video Call 1" />
                                                    <input type="text" class="form-control" id="VideoCall2" placeholder="Video Call 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Mobile">Mobile</label>
                                                    <input type="text" class="form-control" id="Mobile1" placeholder="Mobile 1" />
                                                    <input type="text" class="form-control" id="Mobile2" placeholder="Mobile 2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card">
                                            @*<button type="button" class="button1" id="btnAdd" onclick="return GetShipByID();" style="width:138px; float:right; right:16px;">Update</button>*@
                                            <button type="button" class="button1" id="btnUpdate" style="width:86px;" onclick="return Update();">Update</button>
                                        </div>
                                    </div>

                                </form>


                            </div>


                            <div> &nbsp; &nbsp; &nbsp; </div>


                        }
                        else
                        {
                            <div>
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" id="ID" />
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselType">Vessel Type</label>
                                                    @Html.DropDownListFor(model => model.VesselTypeID, (IEnumerable<SelectListItem>)ViewBag.VesselType, "Select", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselSubType">Vessel Sub Type</label>
                                                    <select id="VesselSubTypeID" name="VesselSubTypeID" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VesselSubSubType">Vessel Sub Sub Type</label>
                                                    <select id="VesselSubSubTypeID" name="VesselSubSubTypeID" class="form-control"></select>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Vessel">Vessel</label>
                                                    <input type="text" class="form-control" id="Vessel" placeholder="Vessel" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for=" Flag">Flag</label>
                                                    <input type="text" class="form-control" id="Flag" placeholder="Flag" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="IMO Number">IMO Number</label>
                                                    <input type="text" class="form-control" id="IMONumber" placeholder="IMO Number" disabled />
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card">
                                            <h4>Communications Resources</h4>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    <input type="text" class="form-control" id="Email1" placeholder="Email 1" />
                                                    <input type="text" class="form-control" id="Email2" placeholder="Email 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Voice">Voice</label>
                                                    <input type="text" class="form-control" id="Voice1" placeholder="Voice 1" />
                                                    <input type="text" class="form-control" id="Voice2" placeholder="Voice 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Fax">Fax</label>
                                                    <input type="text" class="form-control" id="Fax1" placeholder="Fax 1" />
                                                    <input type="text" class="form-control" id="Fax2" placeholder="Fax 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Video Call">Video Call(VOIP)</label>
                                                    <input type="text" class="form-control" id="VideoCall1" placeholder="Video Call 1" />
                                                    <input type="text" class="form-control" id="VideoCall2" placeholder="Video Call 2" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Mobile">Mobile</label>
                                                    <input type="text" class="form-control" id="Mobile1" placeholder="Mobile 1" />
                                                    <input type="text" class="form-control" id="Mobile2" placeholder="Mobile 2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>

    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")

        <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                if ($('#isSuperAdminUser').val() == "True") {
                    GetShip();
                }
                else {
                    GetShip();
                }
               
                

                GetVesselTypeForDrp();
                //GetVesselTypeIDFromShip();

                $('#VesselTypeID').trigger("change");
            });

            $('#VesselTypeID').on('change', function () {
                //alert($('option:selected', this).text());
            

                var VesselTypeID = $('#VesselTypeID').val();
                console.log('hi');
                console.log(VesselTypeID);

                GetVesselSubTypeByVesselTypeIDForDrp(VesselTypeID);

            });


           


            $('#VesselSubTypeID').on('change', function () {
                //alert($('option:selected', this).text());
                //alert($(this).val());

                var VesselSubTypeID = $('#VesselSubTypeID').val();


                GetVesselSubSubTypeByVesselSubTypeIDForDrp(VesselSubTypeID);

            });


        </script>
    }



</body>