
@{
    ViewBag.Title = "PsychologicalEvaluationScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<link href="~/link/css/static.css" rel="stylesheet" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">


<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<style>
    * {
        box-sizing: border-box;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }

    .columnE {
        float: left;
        width: 10%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

@Html.Hidden("GetTestValues", @Url.Action("GetTestValues", "PsychologicalEvaluation"))

<body>

    <div class="">
        <div class="head_title arrowimg">
            <a href="@Url.Action("PsychologicalEvaluationForms", "MentalHealth" )"><span class="title-arrow"><img src="../img/arrow.png"/></span></a> <img src="../img/brein.png"/><h3>Mental Health</h3>
        </div>

        <div class="card backk">
            <div class="">
                <div class="panel-group" id="accordion">
                    <h4 class="ta">Psychological Evaluation Score</h4>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#LocusOfControl">Locus Of Control </a>
                            </h4>
                        </div>
                        <div id="LocusOfControl" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateL" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateL" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreL" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreL" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationL" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationL" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceL"></div>
                                        <div class="form-control" id="SuggestionL"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#MASSMindfulnessScaleFinal">MASS Mindfulness Scale Final</a>
                            </h4>
                        </div>
                        <div id="MASSMindfulnessScaleFinal" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateM" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateM" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreM" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreM" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationM" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationM" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceM"></div>
                                        <div class="form-control" id="SuggestionM"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#PSQ30_PERCIEVED_STRESS_QUESTIONAIRE">PSQ30 Percieved Stress</a>
                            </h4>
                        </div>
                        <div id="PSQ30_PERCIEVED_STRESS_QUESTIONAIRE" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateP" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateP" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreP" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreP" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationP" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationP" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceP"></div>
                                        <div class="form-control" id="SuggestionP"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#BeckDepressionInventoryIIFinal">Beck Depression Inventory</a>
                            </h4>
                        </div>
                        <div id="BeckDepressionInventoryIIFinal" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateB" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateB" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreB" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreB" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationB" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationB" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceB"></div>
                                        <div class="form-control" id="SuggestionB"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#Zhao_ANXIETY_Y1">Zhao Anxiety Y1</a>
                            </h4>
                        </div>
                        <div id="Zhao_ANXIETY_Y1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateZ1" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateZ1" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreZ1" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreZ1" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationZ1" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationZ1" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceZ1"></div>
                                        <div class="form-control" id="SuggestionZ1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#Zhao_ANXIETY_Y2">Zhao Anxiety Y2</a>
                            </h4>
                        </div>
                        <div id="Zhao_ANXIETY_Y2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateZ2" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateZ2" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreZ2" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreZ2" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationZ2" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationZ2" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceZ2"></div>
                                        <div class="form-control" id="SuggestionZ2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#ROSENBERG_SELF_esteem_scale_final">Rosenberg Self Esteem</a>
                            </h4>
                        </div>
                        <div id="ROSENBERG_SELF_esteem_scale_final" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateR" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateR" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">SCORE</P>
                                        <input type="text" class="form-control" id="PostJoiningScoreR" disabled />
                                        <input type="text" class="form-control" id="PreSignOffScoreR" disabled />
                                    </div>
                                    <div class="column">
                                        <P style="font-size: 18px; color: #0d417f;">EVALUATION</P>
                                        <input type="text" class="form-control" id="PostJoiningEvaluationR" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEvaluationR" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column">
                                        <div class="form-control" id="AdviceR"></div>
                                        <div class="form-control" id="SuggestionR"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#EmotionalIntelligence">Emotional Intelligence</a>
                            </h4>
                        </div>
                        <div id="EmotionalIntelligence" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;">PERIOD &nbsp;</P>
                                        <p>Post Joining</p>
                                        <p>Pre Sign Off</p>
                                    </div>
                                    <div class="columnE" style="width: 11%;">
                                        <P style="font-size: 18px; color: #0d417f;">DATE COMPLETED</P>
                                        <input type="text" class="form-control" id="PostJoiningDateE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffDateE" disabled />
                                    </div>
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;">SA Score &nbsp;</P>
                                        <input type="text" class="form-control" id="PostJoiningSAScoreE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffSAScoreE" disabled />
                                    </div>
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;">SC Score &nbsp;</P>
                                        <input type="text" class="form-control" id="PostJoiningSCScoreE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffSCScoreE" disabled />
                                    </div>
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;">Empathy Score</P>
                                        <input type="text" class="form-control" id="PostJoiningEScoreE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEScoreE" disabled />
                                    </div>
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;">RI Score &nbsp;</P>
                                        <input type="text" class="form-control" id="PostJoiningRIScoreE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffRIScoreE" disabled />
                                    </div>
                                    <div class="columnE">
                                        <P style="font-size: 18px; color: #0d417f;">SA Evaluation</P>
                                        <input type="text" class="form-control" id="PostJoiningSAEvaluationE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffSAEvaluationE" disabled />
                                    </div>
                                    <div class="columnE">
                                        <P style="font-size: 18px; color: #0d417f;">SC Evaluation</P>
                                        <input type="text" class="form-control" id="PostJoiningSCEvaluationE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffSCEvaluationE" disabled />
                                    </div>
                                    <div class="columnE">
                                        <P style="font-size: 18px; color: #0d417f;">Empathy Evaluation</P>
                                        <input type="text" class="form-control" id="PostJoiningEEvaluationE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffEEvaluationE" disabled />
                                    </div>
                                    <div class="columnE">
                                        <P style="font-size: 18px; color: #0d417f;">RI Evaluation</P>
                                        <input type="text" class="form-control" id="PostJoiningRIEvaluationE" disabled />
                                        <input type="text" class="form-control" id="PreSignOffRIEvaluationE" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columnE" style="width: 8%;">
                                        <P style="font-size: 18px; color: #0d417f;"> &nbsp;</P>
                                        <p>Advice</p>
                                        <p>Suggestion</p>
                                    </div>
                                    <div class="column" style="width: 21%;">
                                        <P style="font-size: 18px; color: #0d417f;">SA Advice</P>
                                        <div class="form-control" id="SAAdviceE"></div>
                                        <div class="form-control" id="SuggestionE"></div>
                                    </div>
                                    <div class="column" style="width: 21%;">
                                        <P style="font-size: 18px; color: #0d417f;">SC Advice</P>
                                        <div class="form-control" id="SCAdviceE"></div>
                                    </div>
                                    <div class="column" style="width: 21%;">
                                        <P style="font-size: 18px; color: #0d417f;">Empathy Advice</P>
                                        <div class="form-control" id="EAdviceE"></div>
                                    </div>
                                    <div class="column" style="width: 21%;">
                                        <P style="font-size: 18px; color: #0d417f;">RI Advice</P>
                                        <div class="form-control" id="RIAdviceE"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>




@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">


        $(document).ready(function () {
            //debugger;
            GetTestValues();
            //alert('hi');
        });


        function GetTestValues() {
            var x = $("#GetTestValues").val();
            //alert(x);
            //debugger;
            $.ajax({
                url: x,
                //data:
                //{
                //    CrewID: CrewID
                //},
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    //debugger;
                    //$('#EquipmentsID').val(result.EquipmentsID);
                    console.log(result);
                    /////////////////////// LocusOfControl ///////////////////////////
                    var psLoc = result.PostJoiningTestValues;
                    if (result.PostJoiningTestValues.length > 0)
                    {
                        var psLocFilter = $.grep(psLoc, function (n, i) {
                            return n.TestCode === 'L';
                        });
                        console.log(psLoc);
                        console.log(psLocFilter[0].Evaluation);
                        if (psLocFilter.length > 0) {
                            $('#PostJoiningDateL').val(psLocFilter[0].TestDate);
                            $('#PostJoiningScoreL').val(psLocFilter[0].FinalScore);
                            $('#PostJoiningEvaluationL').val(psLocFilter[0].TestResult);
                            $('#AdviceL').text(psLocFilter[0].Evaluation);
                        }
                    }

                    var presLoc = result.PreSignOffTestValues;
                    if (result.PreSignOffTestValues.length > 0) {
                        console.log(presLoc);
                        var presLocFilter = $.grep(presLoc, function (n, i) {
                            return n.TestCode === 'L';
                        });
                        if (presLocFilter.length > 0) {
                            $('#PreSignOffDateL').val(presLocFilter[0].TestDate);
                            $('#PreSignOffScoreL').val(presLocFilter[0].FinalScore);
                            $('#PreSignOffEvaluationL').val(presLocFilter[0].TestResult);
                            //$('#AdviceL').text(presLocFilter[0].Evaluation);
                        }
                    }
                    /////////////////////// Mass ///////////////////////////
                    var psLocM = result.PostJoiningTestValues;
                    if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilterM = $.grep(psLocM, function (n, i) {
                            return n.TestCode === 'M';
                        });
                        console.log(psLocM);
                        console.log(psLocFilterM[0].Evaluation);
                        if (psLocFilterM.length > 0) {
                            $('#PostJoiningDateM').val(psLocFilterM[0].TestDate);
                            $('#PostJoiningScoreM').val(psLocFilterM[0].FinalScore);
                            $('#PostJoiningEvaluationM').val(psLocFilterM[0].TestResult);
                            $('#AdviceM').text(psLocFilterM[0].Evaluation);
                        }
                    }
                    var presLocM = result.PreSignOffTestValues;
                    if (result.PreSignOffTestValues.length > 0) {
                    {
                        var presLocFilterM = $.grep(presLocM, function (n, i) {
                            return n.TestCode === 'M';
                        });
                        if (presLocFilterM.length > 0) {
                            $('#PreSignOffDateM').val(presLocFilterM[0].TestDate);
                            $('#PreSignOffScoreM').val(presLocFilterM[0].FinalScore);
                            $('#PreSignOffEvaluationM').val(presLocFilterM[0].TestResult);
                            //$('#AdviceM').text(presLocFilterM[0].Evaluation);
                        }
                    }
                    /////////////////////// PSQ30 ///////////////////////////
                    var psLocP = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilterP = $.grep(psLocP, function (n, i) {
                            return n.TestCode === 'P';
                        });
                        console.log(psLocP);
                        console.log(psLocFilterP[0].Evaluation);
                        if (psLocFilterP.length > 0) {
                            $('#PostJoiningDateP').val(psLocFilterP[0].TestDate);
                            $('#PostJoiningScoreP').val(psLocFilterP[0].FinalScore);
                            $('#PostJoiningEvaluationP').val(psLocFilterP[0].TestResult);
                            $('#AdviceP').text(psLocFilterP[0].Evaluation);
                        }
                    }
                    var presLocP = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                        var presLocFilterP = $.grep(presLocP, function (n, i) {
                            return n.TestCode === 'P';
                        });
                        if (presLocFilterP.length > 0) {
                            $('#PreSignOffDateP').val(presLocFilterP[0].TestDate);
                            $('#PreSignOffScoreP').val(presLocFilterP[0].FinalScore);
                            $('#PreSignOffEvaluationP').val(presLocFilterP[0].TestResult);
                            //$('#AdviceP').text(presLocFilterP[0].Evaluation);
                        }
                    }

                    /////////////////////// BECK ///////////////////////////
                    var psLocB = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilterB = $.grep(psLocB, function (n, i) {
                            return n.TestCode === 'B';
                        });
                        console.log(psLocB);
                        console.log(psLocFilterB[0].Evaluation);
                        if (psLocFilterB.length > 0) {
                            $('#PostJoiningDateB').val(psLocFilterB[0].TestDate);
                            $('#PostJoiningScoreB').val(psLocFilterB[0].FinalScore);
                            $('#PostJoiningEvaluationB').val(psLocFilterB[0].TestResult);
                            $('#AdviceB').text(psLocFilterB[0].Evaluation);
                        }
                    }
                    var presLocB = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                        var presLocFilterB = $.grep(presLocB, function (n, i) {
                            return n.TestCode === 'B';
                        });
                        if (presLocFilterB.length > 0) {
                            $('#PreSignOffDateB').val(presLocFilterB[0].TestDate);
                            $('#PreSignOffScoreB').val(presLocFilterB[0].FinalScore);
                            $('#PreSignOffEvaluationB').val(presLocFilterB[0].TestResult);
                            //$('#AdviceB').text(presLocFilterB[0].Evaluation);
                        }
                    }
                    /////////////////////// Z1 ///////////////////////////
                    var psLoc1 = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilter1 = $.grep(psLoc1, function (n, i) {
                            return n.TestCode === '1';
                        });
                        console.log(psLoc1);
                        console.log(psLocFilter1[0].Evaluation);
                        if (psLocFilter1.length > 0) {
                            $('#PostJoiningDateZ1').val(psLocFilter1[0].TestDate);
                            $('#PostJoiningScoreZ1').val(psLocFilter1[0].FinalScore);
                            $('#PostJoiningEvaluationZ1').val(psLocFilter1[0].TestResult);
                            $('#AdviceZ1').text(psLocFilter1[0].Evaluation);
                        }
                    }
                    var presLoc1 = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                        var presLocFilter1 = $.grep(presLoc1, function (n, i) {
                            return n.TestCode === '1';
                        });
                        if (presLocFilter1.length > 0) {
                            $('#PreSignOffDateZ1').val(presLocFilter1[0].TestDate);
                            $('#PreSignOffScoreZ1').val(presLocFilter1[0].FinalScore);
                            $('#PreSignOffEvaluationZ1').val(presLocFilter1[0].TestResult);
                            //$('#AdviceZ1').text(presLocFilter1[0].Evaluation);
                        }
                    }
                    /////////////////////// Z2 ///////////////////////////
                    var psLoc2 = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilter2 = $.grep(psLoc2, function (n, i) {
                            return n.TestCode === '2';
                        });
                        console.log(psLoc2);
                        console.log(psLocFilter2[0].Evaluation);
                        if (psLocFilter2.length > 0) {
                            $('#PostJoiningDateZ2').val(psLocFilter2[0].TestDate);
                            $('#PostJoiningScoreZ2').val(psLocFilter2[0].FinalScore);
                            $('#PostJoiningEvaluationZ2').val(psLocFilter2[0].TestResult);
                            $('#AdviceZ2').text(psLocFilter2[0].Evaluation);
                        }
                    }
                    var presLoc2 = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                        var presLocFilter2 = $.grep(presLoc2, function (n, i) {
                            return n.TestCode === '2';
                        });
                        if (presLocFilter2.length > 0) {
                            $('#PreSignOffDateZ2').val(presLocFilter2[0].TestDate);
                            $('#PreSignOffScoreZ2').val(presLocFilter2[0].FinalScore);
                            $('#PreSignOffEvaluationZ2').val(presLocFilter2[0].TestResult);
                            //$('#AdviceZ2').text(presLocFilter2[0].Evaluation);
                        }
                    }

                    /////////////////////// ROSE ///////////////////////////
                    var psLocR = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilterR = $.grep(psLocR, function (n, i) {
                            return n.TestCode === 'R';
                        });
                        console.log(psLocR);
                        console.log(psLocFilterR[0].Evaluation);
                        if (psLocFilterR.length > 0) {
                            $('#PostJoiningDateR').val(psLocFilterR[0].TestDate);
                            $('#PostJoiningScoreR').val(psLocFilterR[0].FinalScore);
                            $('#PostJoiningEvaluationR').val(psLocFilterR[0].TestResult);
                            $('#AdviceR').text(psLocFilterR[0].Evaluation);
                        }
                    }
                    var presLocR = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                        var presLocFilterR = $.grep(presLocR, function (n, i) {
                            return n.TestCode === 'R';
                        });
                        if (presLocFilterR.length > 0) {
                            $('#PreSignOffDateR').val(presLocFilterR[0].TestDate);
                            $('#PreSignOffScoreR').val(presLocFilterR[0].FinalScore);
                            $('#PreSignOffEvaluationR').val(presLocFilterR[0].TestResult);
                            //$('#AdviceR').text(presLocFilterR[0].Evaluation);
                        }
                    }
                    /////////////////////// Emotional Intelligence ///////////////////////////
                    var psLocE = result.PostJoiningTestValues;
                        if (result.PostJoiningTestValues.length > 0) {
                        var psLocFilterE = $.grep(psLocE, function (n, i) {
                            return n.TestCode === 'E';
                        });
                        console.log(psLocE);
                        console.log(psLocFilterE[0].Evaluation);
                        if (psLocFilterE.length > 0) {
                            $('#PostJoiningDateE').val(psLocFilterE[0].TestDate);

                            $('#PostJoiningSAScoreE').val(psLocFilterE[0].SAScore);
                            $('#PostJoiningSCScoreE').val(psLocFilterE[0].SCScore);
                            $('#PostJoiningEScoreE').val(psLocFilterE[0].EmpathyScore);
                            $('#PostJoiningRIScoreE').val(psLocFilterE[0].RIScore);

                            $('#PostJoiningSAEvaluationE').val(psLocFilterE[0].SATestResult);
                            $('#PostJoiningSCEvaluationE').val(psLocFilterE[0].SCTestResult);
                            $('#PostJoiningEEvaluationE').val(psLocFilterE[0].EmpathyTestResult);
                            $('#PostJoiningRIEvaluationE').val(psLocFilterE[0].RITestResult);

                            $('#SAAdviceE').text(psLocFilterE[0].SAEvaluation);
                            $('#SCAdviceE').text(psLocFilterE[0].SCEvaluation);
                            $('#EAdviceE').text(psLocFilterE[0].EmpathyEvaluation);
                            $('#RIAdviceE').text(psLocFilterE[0].RIEvaluation);
                        }
                    }
                    var presLocE = result.PreSignOffTestValues;
                        if (result.PreSignOffTestValues.length > 0) {
                            var presLocFilterE = $.grep(presLocE, function (n, i) {
                                return n.TestCode === 'E';
                            });
                            if (presLocFilterE.length > 0) {
                                $('#PreSignOffDateE').val(presLocFilterE[0].TestDate);

                                $('#PreSignOffSAScoreE').val(presLocFilterE[0].SAScore);
                                $('#PreSignOffSCScoreE').val(presLocFilterE[0].SCScore);
                                $('#PreSignOffEScoreE').val(presLocFilterE[0].EmpathyScore);
                                $('#PreSignOffRIScoreE').val(presLocFilterE[0].RIScore);

                                $('#PreSignOffSAEvaluationE').val(presLocFilterE[0].SATestResult);
                                $('#PreSignOffSCEvaluationE').val(presLocFilterE[0].SCTestResult);
                                $('#PreSignOffEEvaluationE').val(presLocFilterE[0].EmpathyTestResult);
                                $('#PreSignOffRIEvaluationE').val(presLocFilterE[0].RITestResult);

                                //$('#SAAdviceE').text(presLocFilterE[0].SAEvaluation);
                                //$('#SCAdviceE').text(presLocFilterE[0].SCEvaluation);
                                //$('#EAdviceE').text(presLocFilterE[0].EmpathyEvaluation);
                                //$('#RIAdviceE').text(presLocFilterE[0].RIEvaluation);
                            }
                        }
                    }
                },
                error: function (errormessage) {
                    //debugger;
                    console.log(errormessage.responseText);
                }
            });
            return false;
        }


    </script>

}
