@model TM.RestHour.Models.PsychologicalEvaluation
@{
    ViewBag.Title = "BeckDepressionInventoryIIFinal";
}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />




<script src="~/Scripts/PsychologicalEvaluation.js"></script>
<style>
    tr.highlighted td {
        background: red;
    }
</style>

@*@Html.Hidden("Save_BeckDepressionInventoryIIFinal", @Url.Action("SaveForms", "PsychologicalEvaluation"))*@
@Html.Hidden("SaveForms", @Url.Action("SaveForms", "PsychologicalEvaluation"))
@Html.Hidden("PsychologicalEvaluationForms", @Url.Action("PsychologicalEvaluationForms", "MentalHealth"))
<form id="myForm1">
    <div class="row">
        @*<div class="head_title">
                <h1 class="ta">Page Name</h1>
            </div>*@
        <div class="card bacmt">
            <div class="clearfix"></div>
            <div class="row">


                <section id="print-content">
                    <input type="button" onclick="printDiv('print-content')" value="print a div!" />

                    <p style="text-align:center;margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;">BDI - II</span>
                    </p>
                    <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Candara;font-size:14pt;">Instructions: This questionnaire consists of 21 groups of statements. Please read each group of statements carefully. And then pick out the one statement in each group that best describes the way you have been feeling during the past two weeks, including today. Circle the number beside the statement you have picked. If several statements in the group seem to apply equally well, circle the highest number for that group. Be sure that you do not choose more than one statement for any group, including Item 16 (Changes in Sleeping Pattern) or Item 18 (Changes in Appetite).</span>
                    </p>
                    <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <div class="beck-sec">
                        <p id=""> 1.Sadness</p>
                        <table>

                            <tbody>
                                <tr id="q1">
                                    <td><input type="radio" id="1_0" name="q1" value="1_0"> 1.I do not feel sad.</td>
                                    <td>  <input type="radio" id="1_1" name="q1" value="1_1"> 2.I feel sad much of the time.</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_2"> 3.I am sad all the time.</td>
                                    <td> <input type="radio" id="1_3" name="q1" value="1_3">4. I am so sad or unhappy that I can't stand it.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">2.Pessimism</p>
                        <table>

                            <tbody>
                                <tr id="q2">
                                    <td><input type="radio" id="2_0" name="q2" value="2_0"> 1. I am not discouraged about my future.</td>
                                    <td>  <input type="radio" id="2_1" name="q2" value="2_1"> 2.I feel more discouraged about my future than I used to.</td>
                                    <td><input type="radio" id="2_2" name="q2" value="2_2"> 3.I do not expect things to work out for me.</td>
                                    <td> <input type="radio" id="2_3" name="q2" value="2_3">4. I feel my future is hopeless and will only get worse.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 3.Past Failure</p>
                        <table>

                            <tbody>
                                <tr id="q3">
                                    <td><input type="radio" id="3_0" name="q3" value="3_0"> 1. I do not feel like a failure.</td>
                                    <td><input type="radio" id="3_1" name="q3" value="3_1"> 2.I have failed more than I should have.</td>
                                    <td><input type="radio" id="3_2" name="q3" value="3_2"> 3.As I look back, I see a lot of failures.</td>
                                    <td> <input type="radio" id="3_3" name="q3" value="3_3">4. I feel I am a total failure as a person.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">4. Loss of Pleasure</p>
                        <table>
                           
                            <tbody>
                                <tr id="q4">
                                    <td><input type="radio" id="4_0" name="q4" value="4_0"> 1.   I get as much pleasure as I ever did from the things I enjoy.</td>
                                    <td><input type="radio" id="4_1" name="q4" value="4_1"> 2.I don't enjoy things as much as I used to.</td>
                                    <td><input type="radio" id="4_2" name="q4" value="4_2"> 3.I get very little pleasure from the things I used to enjoy.</td>
                                    <td> <input type="radio" id="4_3" name="q4" value="4_3">4. I can't get any pleasure from the things I used to enjoy.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 5. Guilty Feelings</p>
                        <table>
                          
                            <tbody>
                                <tr id="q5">
                                    <td><input type="radio" id="5_0" name="q5" value="5_0"> 1.   I don't feel particularly guilty.</td>
                                    <td><input type="radio" id="5_1" name="q5" value="5_1"> 2.   I feel guilty over many things I have done or should have done.</td>
                                    <td><input type="radio" id="5_2" name="q5" value="5_2"> 3. I feel quite guilty most of the time.</td>
                                    <td> <input type="radio" id="5_3" name="q5" value="5_3">4. I feel guilty all of the time.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">6. Punishment Feelings</p>
                        <table>

                            <tbody>
                                <tr id="q6">
                                    <td><input type="radio" id="6_0" name="q6" value="6_0"> 1.  I don't feel I am being punished.</td>
                                    <td><input type="radio" id="6_1" name="q6" value="6_1"> 2. I feel I may be punished.</td>
                                    <td><input type="radio" id="6_2" name="q6" value="6_2"> 3. I expect to be punished.</td>
                                    <td> <input type="radio" id="6_3" name="q6" value="6_3">4. I feel I am being punished.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">7. Self-Dislike</p>
                        <table>

                            <tbody>
                                <tr id="q7">
                                    <td><input type="radio" id="7_0" name="q7" value="7_0"> 1. I feel the same about myself as ever.</td>
                                    <td><input type="radio" id="7_1" name="q7" value="7_1"> 2. I have lost confidence in myself.</td>
                                    <td><input type="radio" id="7_2" name="q7" value="7_2"> 3.I am disappointed in myself.</td>
                                    <td> <input type="radio" id="7_3" name="q7" value="7_3">4. I dislike myself.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 8. Self-Criticalness</p>
                        <table>

                            <tbody>
                                <tr id="q8">
                                    <td><input type="radio" id="8_0" name="q8" value="8_0"> 1.  I don't criticize or blame myself more than usual.</td>
                                    <td><input type="radio" id="8_1" name="q8" value="8_1"> 2. I am more critical of myself than I used to be.</td>
                                    <td><input type="radio" id="8_2" name="q8" value="8_2"> 3.I criticize myself for all of my faults.</td>
                                    <td> <input type="radio" id="8_3" name="q8" value="8_3">4.  I blame myself for everything bad that happens.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 9. Suicidal Thoughts or Wishes</p>
                        <table>

                            <tbody>
                                <tr id="q9">
                                    <td><input type="radio" id="9_0" name="q9" value="9_0"> 1.  I don't have any thoughts of killing myself.</td>
                                    <td><input type="radio" id="9_1" name="q9" value="9_1"> 2. I have thoughts of killing myself, but I would not carry them out.</td>
                                    <td><input type="radio" id="9_2" name="q9" value="9_2"> 3.I would like to kill myself.</td>
                                    <td> <input type="radio" id="9_3" name="q9" value="9_3">4. I would kill myself if I had the chance.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 10. Crying</p>
                        <table>

                            <tbody>
                                <tr id="q10">
                                    <td><input type="radio" id="10_0" name="q10" value="10_0"> 1.I don't cry anymore than I used to.</td>
                                    <td><input type="radio" id="10_1" name="q10" value="10_1"> 2.I cry more than I used to.</td>
                                    <td><input type="radio" id="10_2" name="q10" value="10_2"> 3.I cry over every little thing.</td>
                                    <td> <input type="radio" id="10_3" name="q10" value="10_3">4. I feel like crying, but I can't.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 11. Agitation</p>
                        <table>

                            <tbody>
                                <tr id="q11">
                                    <td><input type="radio" id="11_0" name="q11" value="11_0"> 1.I am no more restless or wound up than usual.</td>
                                    <td><input type="radio" id="11_1" name="q11" value="11_1"> 2. I feel more restless or wound up than usual.</td>
                                    <td><input type="radio" id="11_2" name="q11" value="11_2"> 3.I am so restless or agitated, it's hard to stay still.</td>
                                    <td> <input type="radio" id="11_3" name="q11" value="11_3">4.I am so restless or agitated that I have to keep moving or doing something.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 12.  Loss of Interest</p>
                        <table>

                            <tbody>
                                <tr id="q12">
                                    <td><input type="radio" id="12_0" name="q12" value="12_0"> 1.I have not lost interest in other people or activities.</td>
                                    <td><input type="radio" id="12_1" name="q12" value="12_1"> 2.I am less interested in other people or things than before.</td>
                                    <td><input type="radio" id="12_2" name="q12" value="12_2"> 3.I have lost most of my interest in other people or things.</td>
                                    <td> <input type="radio" id="12_3" name="q12" value="12_3">4. It's hard to get interested in anything.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">13. Indecisiveness</p>
                        <table>

                            <tbody>
                                <tr id="q13">
                                    <td><input type="radio" id="13_0" name="q13" value="13_0"> 1. I make decisions about as well as ever.</td>
                                    <td><input type="radio" id="13_1" name="q13" value="13_1"> 2.I find it more difficult to make decisions than usual.</td>
                                    <td><input type="radio" id="13_2" name="q13" value="13_2"> 3. I have much greater difficulty in making decisions than I used to.</td>
                                    <td> <input type="radio" id="13_3" name="q13" value="13_3">4. I have trouble making any decisions.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 14. Worthlessness</p>
                        <table>

                            <tbody>
                                <tr id="q14">
                                    <td><input type="radio" id="14_0" name="q14" value="14_0"> 1. I do not feel I am worthless.</td>
                                    <td><input type="radio" id="14_1" name="q14" value="14_1"> 2.I don't consider myself as worthwhile and useful as I used to.</td>
                                    <td><input type="radio" id="14_2" name="q14" value="14_2"> 3. I feel more worthless as compared to others.</td>
                                    <td> <input type="radio" id="14_3" name="q14" value="14_3">4. I feel utterly worthless.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">15. Loss of Energy</p>
                        <table>
                           
                            <tbody>
                                <tr id="q15">
                                    <td><input type="radio" id="15_0" name="q15" value="15_0"> 1. I have as much energy as ever..</td>
                                    <td><input type="radio" id="15_1" name="q15" value="15_1"> 2.I have less energy than I used to have.</td>
                                    <td><input type="radio" id="15_2" name="q15" value="15_2"> 3.  I don't have enough energy to do very much.</td>
                                    <td> <input type="radio" id="15_3" name="q15" value="15_3">4. I don't have enough energy to do anything.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id="">16.  Changes in Sleeping Pattern</p>
                        <table>

                            <tbody>
                                <tr id="q16">
                                    <td><input type="radio" id="16_0" name="q16" value="16_0">1.       I have not experienced any change in my sleeping.</td>
                                    <td><input type="radio" id="16_1" name="q16" value="16_1"> 2a. I sleep somewhat more than usual.</td>
                                    <td><input type="radio" id="16_1" name="q16" value="16_1">  2b. I sleep somewhat less than usual.</td>
                                    <td> <input type="radio" id="16_2" name="q16" value="16_2">3a. I sleep a lot more than usual.</td>
                                    <td> <input type="radio" id="16_2" name="q16" value="16_2">3b. I sleep a lot less than usual.</td>
                                    <td> <input type="radio" id="16_3" name="q16" value="16_3">4a. I sleep most of the day.</td>
                                    <td> <input type="radio" id="16_3" name="q16" value="16_3">4b. I wake up 1-2 hours early and can't get back to sleep.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 17. Irritability</p>
                        <table>

                            <tbody>
                                <tr id="q17">
                                    <td><input type="radio" id="17_0" name="q17" value="17_0"> 1.I am not more irritable than usual.</td>
                                    <td><input type="radio" id="17_1" name="q17" value="17_1"> 2. I am more irritable than usual.</td>
                                    <td><input type="radio" id="17_2" name="q17" value="17_2"> 3.I am much more irritable than usual.</td>
                                    <td> <input type="radio" id="17_3" name="q17" value="17_3">4. I am irritable all the time.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 18. Changes in Appetite</p>
                        <table>

                            <tbody>
                                <tr id="q18">
                                    <td><input type="radio" id="18_0" name="q18" value="18_0">1. I have not experienced any change in my appetite.</td>
                                    <td><input type="radio" id="18_1" name="q18" value="18_1"> 2a. My appetite is somewhat less than usual.</td>
                                    <td><input type="radio" id="18_1" name="q18" value="18_1">  2b.My appetite is somewhat greater than usual.</td>
                                    <td> <input type="radio" id="18_2" name="q18" value="18_2">3a.My appetite is much less than before.</td>
                                    <td> <input type="radio" id="18_2" name="q18" value="18_2">3b. My appetite is much greater than usual.</td>
                                    <td> <input type="radio" id="18_3" name="q18" value="18_3">4a.  I have no appetite at all.</td>
                                    <td> <input type="radio" id="18_3" name="q18" value="18_3">4b. I crave food all the time.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 19. Concentration Difficulty</p>
                        <table>

                            <tbody>
                                <tr id="q19">
                                    <td><input type="radio" id="19_0" name="q19" value="19_0"> 1.  I can concentrate as well as ever.</td>
                                    <td><input type="radio" id="19_1" name="q19" value="19_1"> 2. I can't concentrate as well as usual.</td>
                                    <td><input type="radio" id="19_2" name="q19" value="19_2"> 3.  It's hard to keep my mind on anything for very long.</td>
                                    <td> <input type="radio" id="19_3" name="q19" value="19_3">4. I find I can't concentrate on anything.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 20. Tiredness or Fatigue</p>
                        <table>

                            <tbody>
                                <tr id="q20">
                                    <td><input type="radio" id="20_0" name="q20" value="20_0"> 1.  I am no more tired or fatigued than usual.</td>
                                    <td><input type="radio" id="20_1" name="q20" value="20_1"> 2.   I get more tired or fatigued more easily than usual.</td>
                                    <td><input type="radio" id="20_2" name="q20" value="20_2"> 3.  I am too tired or fatigued to do a lot of the things I used to do.</td>
                                    <td> <input type="radio" id="20_3" name="q20" value="20_3">4.  I am too tired or fatigued to do most of the things I used to do.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="beck-sec">
                        <p id=""> 21.Loss of Interest in Sex</p>
                        <table>

                            <tbody>
                                <tr id="q21">
                                    <td><input type="radio" id="21_0" name="q21" value="21_0"> 1. I have not noticed any recent change in my interest in sex.</td>
                                    <td><input type="radio" id="21_1" name="q21" value="21_1"> 2.I am less interested in sex than I used to be.</td>
                                    <td><input type="radio" id="21_2" name="q21" value="21_2"> 3.I am much less interested in sex now.</td>
                                    <td> <input type="radio" id="21_3" name="q21" value="21_3">4.I have lost interest in sex completely.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>

                    @*<p style="margin-left:32.45pt;margin-right:0pt;margin-top:0.2pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Candara;font-size:14pt;">Total</span>
            <span style="font-family:Candara;font-size:14pt;letter-spacing:-0.7000000000000001pt;"> </span>
            <span style="font-family:Candara;font-size:14pt;">Score: &nbsp;</span>
            <span style="font-family:Candara;font-size:14pt;text-decoration: underline;"> </span>
        </p>
        <p style="margin-left:0pt;margin-right:0pt;margin-top:0.35000000000000003pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scoring Standard for BDI</span>
        </p>
        <table style="border-collapse:collapse;margin-left:-1.7000000000000002pt;">
            <colgroup>
                <col style="width:87px" />
                <col style="width:69px" />
                <col style="width:230px" />
            </colgroup>
            <tr style="height:17.5pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">0 – 13</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Minimal depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:19.4pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">14 – 19</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:3.4000000000000004pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Mild depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:15pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">20 –28</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4.6000000000000005pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Moderate depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:25.65pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">29 –63</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Severe depression</span>
                    </p>
                </td>
            </tr>
        </table>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>*@
                </section>




                <div class="col-md-6" style=" margin-top:30px;">
                    <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveForms('stpSaveBeck_Depression_Inventory_IIFinal', '4');">Save And Next</button>
                    @if (Model.Mode == "redirect")
                    {
                        <button type="button" class="button1" id="btnBack">Back</button>
                    }
                </div>

            </div>
        </div>
    </div>


</form>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            //SetUpGrid();
            $('#btnBack').click(function () {
                var url = $('#PsychologicalEvaluationForms').val();
                window.location.href = url;
            });
        });





                //function printDiv(divName) {
                //    var printContents = document.getElementById(divName).innerHTML;
                //    w = window.open();
                //    w.document.write(printContents);
                //    w.print();
                //    w.close();
                //}




    </script>

}

