@model TM.RestHour.Models.PsychologicalEvaluation
@{
    ViewBag.Title = "EmotionalIntelligenceQuizForLeadership";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/PsychologicalEvaluation.js"></script>
@Html.Hidden("SaveForms", @Url.Action("SaveForms", "PsychologicalEvaluation"))
@Html.Hidden("PsychologicalEvaluationForms", @Url.Action("PsychologicalEvaluationForms", "MentalHealth"))
<style>
    tr.highlighted td {
        background: red;
    }
</style>
<form id="myForm1">

    <div class="row">
        @*<div class="head_title">
                <h1 class="ta">Page Name</h1>
            </div>*@
        <div class="card bacmt">
            <div class="clearfix"></div>
            <div class="row">


                <section id="print-content" class="side-space">
                    <input type="button" onclick="printDiv('print-content')" value="print a div!" />

                    <div class="">

                        <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Calibri;font-size:18pt;">The Quick Emotional Intelligence Self-Assessment </span>
                        </p>
                        <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:2.95pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Calibri;font-size:9pt;">*Adapted for the 2014 UAA Leadership Conference from a model by Paul Mohapel </span>
                        </p>
                        <table style="width: 491pt; border-collapse: collapse; table-layout: fixed; margin: 0 auto;">
                            <colgroup>
                                <col style="width:654px" />
                            </colgroup>
                            <tr style="height:27.6pt;">
                                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-top:5pt;padding-bottom:5pt;width:491pt !important;vertical-align:top;">
                                    <p style="text-align:right;margin-left:0pt;margin-right:34.75pt;margin-top:0pt;margin-bottom:0pt;">
                                        <span style="font-family:Calibri;font-size:12pt;">Rank each statement as follows: </span>
                                        <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">0 </span>
                                        <span style="font-family:Calibri;font-size:12pt;">(Never) </span>
                                        <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">1</span>
                                        <span style="font-family:Calibri;font-size:12pt;">(Rarely) </span>
                                        <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">2</span>
                                        <span style="font-family:Calibri;font-size:12pt;">(Sometimes) </span>
                                        <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">3</span>
                                        <span style="font-family:Calibri;font-size:12pt;">(Often) </span>
                                        <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">4</span>
                                        <span style="font-family:Calibri;font-size:12pt;">(Always)</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>


                        <div class="emo-sec">
                            <table>
                                <tr id="q1">
                                    <td>My feelings are clear to me at any given moment</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q2">
                                    <td>Emotions play an important part in my life</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q3">
                                    <td>My moods impact the people around me</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q4">
                                    <td>
                                        I find it east to put words to my feelings
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q5">
                                    <td>My moods are easily affected by external events</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q6">
                                    <td>I can easily sense when I am going to be angry</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q7">
                                    <td>I readily tell others my true feelings</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q8">
                                    <td>I find it easy to describe my feelings</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q9">
                                    <td>Even when I'm upset, I'm aware of what's happening to me</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q10">
                                    <td>I am able to stand apart from my thoughts and feelings and examine them</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                            </table>

                        </div>

                        <div class="emo-sec">
                            <table>
                                <tr id="q11">
                                    <td>I accept responsibility for my reactions</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q12">
                                    <td>I find it easy to make goals and stick with them</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q13">
                                    <td>I am an emotionally balanced person</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q14">
                                    <td>
                                        I am a very patient person
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q15">
                                    <td>I can accept critical comments from others without becoming angry</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q16">
                                    <td>If an issue does not affect me directly, I don't let it bother me</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q17">
                                    <td>I can restrain myself when I feel anger towards someone</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q18">
                                    <td>I control urges to overindulge in things that could damage my wellbeing</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q19">
                                    <td>I maintain my composure even during stressful times</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q20">
                                    <td>I direct my energy into creative work or hobbies</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                            </table>

                        </div>

                        <div class="emo-sec">
                            <table>
                                <tr id="q21">
                                    <td>I consider the impact of my decisions on other people</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q22">
                                    <td>I can tell if the people around me are becoming annoyed</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q23">
                                    <td>I sense it when a person's mood changes</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q24">
                                    <td>

                                        I am able to be supportive when giving bad news to others
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q25">
                                    <td>I am generally able to understand the way other people feel</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q26">
                                    <td>My friends can tell me intimate things about themselves</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q27">
                                    <td>
                                        It genuinely bothers me to see other people suffer
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q28">
                                    <td>I usually know when to speak and when to be silent  </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q29">
                                    <td>I care what happens to other people</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q30">
                                    <td>I understand when people's plans change</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                            </table>

                        </div>


                        <div class="emo-sec">
                            <table>
                                <tr id="q31">
                                    <td>I am able to show affection</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q32">
                                    <td>My relationships are safe places for me</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q33">
                                    <td>I find it easy to share my deep feelings with others</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q34">
                                    <td>
                                        I am good at motivating others
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q35">
                                    <td>I am fairly cheerful person</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q36">
                                    <td>It is easy for me to make friends</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q37">
                                    <td>
                                        People tell me I am sociable and fun
                                    </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q38">
                                    <td>I like helping people</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q39">
                                    <td>Others can depend on me</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q40">
                                    <td>I am able to talk someone down if they are very upset</td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_0">0</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_3" name="q1" value="1_2">2</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_5" name="q1" value="1_4">4</td>
                                </tr>
                            </table>

                        </div>
                        
                        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                    </div>
                        @*<p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Calibri;font-size:11pt;">Emotional Intelligence (measured by EQ) is your ability to be internally and externally aware of emotions by practicing self-awareness, self-control, empathy, and responding to situations with integrity. </span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Calibri;font-size:11pt;font-style: italic;">Why is EQ important? </span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Calibri;font-size:11pt;">While intelligence (referred to as IQ) is important, success in life depends more on EQ.</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Calibri;font-size:11pt;"> Circle your score </span>
            <span style="font-family:Calibri;font-size:11pt;">below</span>
            <span style="font-family:Calibri;font-size:11pt;"> to better understand your personal EQ strengths!</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
            <colgroup>
                <col style="width:110px" />
                <col style="width:544px" />
            </colgroup>
            <tr style="height:30.45pt;">
                <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                    <p style="margin-left:3.5500000000000003pt;text-indent:0.05pt;margin-right:18.95pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">My EQ (Emotional Quotient) Strengths! </span>
                        <span style="font-family:Calibri;font-size:11pt;">Mark your EQ total score to assess your strengths and areas for improvement.</span>
                    </p>
                </td>
            </tr>
            <tr style="height:17pt;">
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                    <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Section </span>
                    </p>
                </td>
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                    <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Score</span>
                    </p>
                </td>
            </tr>
            <tr style="height:13.9pt;">
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                    <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;">Self-Awareness </span>
                    </p>
                </td>
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                    </p>
                </td>
            </tr>
            <tr style="height:29.75pt;">
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                    <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;">Self-Control </span>
                    </p>
                </td>
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                    </p>
                </td>
            </tr>
            <tr style="height:29.75pt;">
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                    <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;">Empathy </span>
                    </p>
                </td>
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                    </p>
                </td>
            </tr>
            <tr style="height:28.8pt;">
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                    <p style="margin-left:3.75pt;margin-right:2.6500000000000004pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;">Responding with Integrity &nbsp;</span>
                    </p>
                </td>
                <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                    </p>
                </td>
            </tr>
            <tr style="height:56.6pt;">
                <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                    <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;">Measure your effectiveness in each section using the following key: </span>
                    </p>
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">0 - 24 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                        <span style="font-family:Calibri;font-size:11pt;">Area for Enrichment: </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Requires </span>
                        <span style="font-family:Calibri;font-size:11pt;">attention and development </span>
                    </p>
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">25 - </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">3</span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">4 &nbsp; &nbsp; &nbsp;</span>
                        <span style="font-family:Calibri;font-size:11pt;">Effective Functioning: Consider </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Strengthening &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </p>
                    <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                        <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">35 - 40 &nbsp; &nbsp; &nbsp;</span>
                        <span style="font-family:Calibri;font-size:11pt;">Enhanced Skills: Use as </span>
                        <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">leverage </span>
                        <span style="font-family:Calibri;font-size:11pt;">to develop weaker areas </span>
                    </p>
                </td>
            </tr>
        </table>
        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>*@
</section>



                <div class="col-md-6" style="margin-top:30px;">
                    <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveForms('stpSave321991584EmotionalIntelligenceQuizForLeadership', '9');">Save And Next</button>
                    @if (Model.Mode == "redirect")
                    {
                        <button type="button" class="button1" id="btnBack">Back</button>
                    }
                </div>

            </div>
        </div>
    </div>

</form>





@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            //SetUpGrid();
            $('#btnBack').click(function () {
                var url = $('#PsychologicalEvaluationForms').val();
                window.location.href = url;
            });
        });





                //function printDiv(divName) {
                //    var printContents = document.getElementById(divName).innerHTML;
                //    w = window.open();
                //    w.document.write(printContents);
                //    w.print();
                //    w.close();
                //}




    </script>

}

