@model TM.RestHour.Models.PsychologicalEvaluation
@{
    ViewBag.Title = "Zhao_ANXIETY_Y2";
}


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/PsychologicalEvaluation.js"></script>
@Html.Hidden("SaveForms", @Url.Action("SaveForms", "PsychologicalEvaluation"))
@Html.Hidden("PsychologicalEvaluationForms", @Url.Action("PsychologicalEvaluationForms", "MentalHealth"))

<style>
    tr.highlighted td {
        background: red;
    }
</style>

<form id="myForm1">

    <div class="row">
        @*<div class="head_title">
                <h1 class="ta">Page Name</h1>
            </div>*@
        <div class="card bacmt">
            <div class="clearfix"></div>
            <div class="row">


                <section id="print-content" class="side-space">
                    <input type="button" onclick="printDiv('print-content')" value="print a div!" />



                    @*<p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">SELF-EVALUATION QUESTIONNAIRE</span>
                        </p>
                        <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">STAI Form Y-1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">Please provide the following information:</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Name: ___________________________________ Date_______________ S______</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Age: _________ Gender (Circle) &nbsp; &nbsp; M &nbsp; &nbsp; F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T______</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">DIRECTIONS:</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">A number of statements which people have used to describe themselves are given below. Read each statement and then blacken the appropriate circle to the right of the statement to indicate how you feel right now, that is, at this moment. &nbsp;There are no right or wrong answers. &nbsp;Do not spend too much time on any one statement but give the answer which seems to describe your present feelings best.</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Not at all &nbsp; &nbsp; Somewhat &nbsp; &nbsp; Moderately so &nbsp; &nbsp; Very much so</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q1">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel calm................... &nbsp; &nbsp; &nbsp; <input type="radio" id="1_1" name="q1" value="1_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="1_2" name="q1" value="1_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="1_3" name="q1" value="1_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="1_4" name="q1" value="1_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q2">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel secure ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="2_1" name="q2" value="2_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="2_2" name="q2" value="2_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="2_3" name="q2" value="2_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="2_4" name="q2" value="2_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q3">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am tense .................. &nbsp; &nbsp; &nbsp; <input type="radio" id="3_1" name="q3" value="3_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="3_2" name="q3" value="3_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="3_3" name="q3" value="3_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="3_4" name="q3" value="3_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q4">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel strained ............. &nbsp; &nbsp; &nbsp; <input type="radio" id="4_1" name="q4" value="4_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="4_2" name="q4" value="4_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="4_3" name="q4" value="4_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="4_4" name="q4" value="4_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q5">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">5.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel at ease ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="5_1" name="q5" value="5_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="5_2" name="q5" value="5_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="5_3" name="q5" value="5_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="5_4" name="q5" value="5_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q6">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">6.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel upset................... &nbsp; &nbsp; &nbsp; <input type="radio" id="6_1" name="q6" value="6_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="6_2" name="q6" value="6_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="6_3" name="q6" value="6_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="6_4" name="q6" value="6_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q7">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">7.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am presently </span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q7">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; worrying over </span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q7">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; possible misfortunes ... &nbsp; &nbsp; <input type="radio" id="7_1" name="q7" value="7_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="7_2" name="q7" value="7_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="7_3" name="q7" value="7_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="7_4" name="q7" value="7_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q8">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">8.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel satisfied............... &nbsp; &nbsp; &nbsp; <input type="radio" id="8_1" name="q8" value="8_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="8_2" name="q8" value="8_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="8_3" name="q8" value="8_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="8_4" name="q8" value="8_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q9">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">9.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel frightened............ &nbsp; &nbsp; &nbsp; <input type="radio" id="9_1" name="q9" value="9_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="9_2" name="q9" value="9_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="9_3" name="q9" value="9_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="9_4" name="q9" value="9_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q10">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">10.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel comfortable......... &nbsp; &nbsp; &nbsp; <input type="radio" id="10_1" name="q10" value="10_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="10_2" name="q10" value="10_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="10_3" name="q10" value="10_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="10_4" name="q10" value="10_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q11">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">11.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel self-confident ...... &nbsp; &nbsp; &nbsp; <input type="radio" id="11_1" name="q11" value="11_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="11_2" name="q11" value="11_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="11_3" name="q11" value="11_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="11_4" name="q11" value="11_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q12">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">12.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel nervous ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="12_1" name="q12" value="12_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="12_2" name="q12" value="12_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="12_3" name="q12" value="12_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="12_4" name="q12" value="12_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q13">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">13.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am jittery..................... &nbsp; &nbsp; &nbsp; <input type="radio" id="13_1" name="q13" value="13_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="13_2" name="q13" value="13_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="13_3" name="q13" value="13_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="13_4" name="q13" value="13_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q14">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">14.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel indecisive ............ &nbsp; &nbsp; &nbsp; <input type="radio" id="14_1" name="q14" value="14_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="14_2" name="q14" value="14_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="14_3" name="q14" value="14_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="14_4" name="q14" value="14_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q15">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">15.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am relaxed.................. &nbsp; &nbsp; &nbsp; <input type="radio" id="15_1" name="q15" value="15_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="15_2" name="q15" value="15_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="15_3" name="q15" value="15_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="15_4" name="q15" value="15_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q16">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">16.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel content ................ &nbsp; &nbsp; &nbsp; <input type="radio" id="16_1" name="q16" value="16_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="16_2" name="q16" value="16_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="16_3" name="q16" value="16_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="16_4" name="q16" value="16_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q17">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">17.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am worried ................. &nbsp; &nbsp; &nbsp; <input type="radio" id="17_1" name="q17" value="17_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="17_2" name="q17" value="17_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="17_3" name="q17" value="17_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="17_4" name="q17" value="17_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q18">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">18.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel confused............... &nbsp; &nbsp; &nbsp; <input type="radio" id="18_1" name="q18" value="18_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="18_2" name="q18" value="18_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="18_3" name="q18" value="18_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="18_4" name="q18" value="18_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q19">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">19.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel steady .................. &nbsp; &nbsp; &nbsp; <input type="radio" id="19_1" name="q19" value="19_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="19_2" name="q19" value="19_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="19_3" name="q19" value="19_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="19_4" name="q19" value="19_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q20">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">20.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel pleasant ................ &nbsp; &nbsp; &nbsp; <input type="radio" id="20_1" name="q20" value="20_1">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="20_2" name="q20" value="20_2">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="20_3" name="q20" value="20_3">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="20_4" name="q20" value="20_4">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>*@

























                    <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">STAI Form Y-2</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Name_____________________________________________ Date______________</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">DIRECTIONS:</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">A number of statements which people have used to describe themselves are given below. &nbsp;Read each statement and then blacken in the appropriate circle to the right of the statement to indicate you generally feel.</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    <div class="zhor-sec">
                        <table>
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Almost never </td>
                                    <td>Sometimes</td>
                                    <td>Often</td>
                                    <td>Almost always</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="q1">
                                    <td>1. I feel pleasant ................ </td>
                                    <td><input type="radio" id="1_1" name="q1" value="1_1">1</td>
                                    <td><input type="radio" id="1_2" name="q1" value="1_2">2</td>
                                    <td> <input type="radio" id="1_3" name="q1" value="1_3">3</td>
                                    <td><input type="radio" id="1_4" name="q1" value="1_4">4</td>
                                </tr>
                                <tr id="q2">
                                    <td>2. I feel nervous, restless … </td>
                                    <td><input type="radio" id="2_1" name="q2" value="2_1">1</td>
                                    <td><input type="radio" id="2_2" name="q2" value="2_2">2</td>
                                    <td> <input type="radio" id="2_3" name="q2" value="2_3">3</td>
                                    <td><input type="radio" id="2_4" name="q2" value="2_4">4</td>
                                </tr>
                                <tr id="q3">
                                    <td>3. I feel satisfied with myself......................</td>
                                    <td><input type="radio" id="3_1" name="q3" value="3_1">1</td>
                                    <td><input type="radio" id="3_2" name="q3" value="3_2">2</td>
                                    <td> <input type="radio" id="3_3" name="q3" value="3_3">3</td>
                                    <td><input type="radio" id="3_4" name="q3" value="3_4">4</td>
                                </tr>
                                <tr id="q4">
                                    <td>
                                        I wish I could be as happy as others seem to be......................
                                    </td>
                                    <td><input type="radio" id="4_1" name="q4" value="4_1">1</td>
                                    <td><input type="radio" id="4_2" name="q4" value="4_2">2</td>
                                    <td> <input type="radio" id="4_3" name="q4" value="4_3">3</td>
                                    <td><input type="radio" id="4_4" name="q4" value="4_4">4</td>
                                </tr>
                                <tr id="q5">
                                    <td>
                                        I feel like a failure............
                                    </td>
                                    <td><input type="radio" id="5_1" name="q5" value="5_1">1</td>
                                    <td><input type="radio" id="5_2" name="q5" value="5_2">2</td>
                                    <td> <input type="radio" id="5_3" name="q5" value="5_3">3</td>
                                    <td><input type="radio" id="5_4" name="q5" value="5_4">4</td>
                                </tr>

                                <tr id="q6">
                                    <td>
                                        I feel rested.....................
                                    </td>
                                    <td><input type="radio" id="6_1" name="q6" value="6_1">1</td>
                                    <td><input type="radio" id="6_2" name="q6" value="6_2">2</td>
                                    <td> <input type="radio" id="6_3" name="q6" value="6_3">3</td>
                                    <td><input type="radio" id="6_4" name="q6" value="6_4">4</td>
                                </tr>
                                <tr id="q7">
                                    <td>
                                        7. I am “calm, cool, and collected” .......................
                                    </td>
                                    <td><input type="radio" id="7_1" name="q7" value="7_1">1</td>
                                    <td><input type="radio" id="7_2" name="q7" value="7_2">2</td>
                                    <td> <input type="radio" id="7_3" name="q7" value="7_3">3</td>
                                    <td><input type="radio" id="7_4" name="q7" value="7_4">4</td>
                                </tr>
                                <tr id="q8">
                                    <td>
                                        8. I feel that difficulties are piling up so that I cannot overcome them .........
                                    </td>
                                    <td><input type="radio" id="8_1" name="q8" value="8_1">1</td>
                                    <td><input type="radio" id="8_2" name="q8" value="8_2">2</td>
                                    <td> <input type="radio" id="8_3" name="q8" value="8_3">3</td>
                                    <td><input type="radio" id="8_4" name="q8" value="8_4">4</td>
                                </tr>
                                <tr id="q9">
                                    <td>
                                        9. I worry too much over something that really doesn’t matter .............
                                    </td>
                                    <td><input type="radio" id="9_1" name="q9" value="9_1">1</td>
                                    <td><input type="radio" id="9_2" name="q9" value="9_2">2</td>
                                    <td> <input type="radio" id="9_3" name="q9" value="9_3">3</td>
                                    <td><input type="radio" id="9_4" name="q9" value="9_4">4</td>
                                </tr>
                                <tr id="q10">
                                    <td>
                                        10. I am happy.......................
                                    </td>
                                    <td><input type="radio" id="10_1" name="q10" value="10_1">1</td>
                                    <td><input type="radio" id="10_2" name="q10" value="10_2">2</td>
                                    <td> <input type="radio" id="10_3" name="q10" value="10_3">3</td>
                                    <td><input type="radio" id="10_4" name="q10" value="10_4">4</td>
                                </tr>
                                <tr id="q11">
                                    <td>
                                        11. I have disturbing thoughts.................................
                                    </td>
                                    <td><input type="radio" id="11_1" name="q11" value="11_1">1</td>
                                    <td><input type="radio" id="11_2" name="q11" value="11_2">2</td>
                                    <td> <input type="radio" id="11_3" name="q11" value="11_3">3</td>
                                    <td><input type="radio" id="11_4" name="q11" value="11_4">4</td>
                                </tr>
                                <tr id="q12">
                                    <td>
                                        12. I lack self-confidence.......
                                    </td>
                                    <td><input type="radio" id="12_1" name="q12" value="12_1">1</td>
                                    <td><input type="radio" id="12_2" name="q12" value="12_2">2</td>
                                    <td> <input type="radio" id="12_3" name="q12" value="12_3">3</td>
                                    <td><input type="radio" id="12_4" name="q12" value="12_4">4</td>
                                </tr>
                                <tr id="q13">
                                    <td>
                                        13. I feel secure ....................
                                    </td>
                                    <td><input type="radio" id="13_1" name="q13" value="13_1">1</td>
                                    <td><input type="radio" id="13_2" name="q13" value="13_2">2</td>
                                    <td> <input type="radio" id="13_3" name="q13" value="13_3">3</td>
                                    <td><input type="radio" id="13_4" name="q13" value="13_4">4</td>
                                </tr>
                                <tr id="q14">
                                    <td>
                                        14. I make decisions easily …
                                    </td>
                                    <td><input type="radio" id="14_1" name="q14" value="14_1">1</td>
                                    <td><input type="radio" id="14_2" name="q14" value="14_2">2</td>
                                    <td> <input type="radio" id="14_3" name="q14" value="14_3">3</td>
                                    <td><input type="radio" id="14_4" name="q14" value="14_4">4</td>
                                </tr>
                                <tr id="q15">
                                    <td>
                                        15. I feel inadequate..............
                                    </td>
                                    <td><input type="radio" id="15_1" name="q15" value="15_1">1</td>
                                    <td><input type="radio" id="15_2" name="q15" value="15_2">2</td>
                                    <td> <input type="radio" id="15_3" name="q15" value="15_3">3</td>
                                    <td><input type="radio" id="15_4" name="q15" value="15_4">4</td>
                                </tr>
                                <tr id="q16">
                                    <td>
                                        16. I am content.....................
                                    </td>
                                    <td><input type="radio" id="16_1" name="q16" value="16_1">1</td>
                                    <td><input type="radio" id="16_2" name="q16" value="16_2">2</td>
                                    <td> <input type="radio" id="16_3" name="q16" value="16_3">3</td>
                                    <td><input type="radio" id="16_4" name="q16" value="16_4">4</td>
                                </tr>
                                <tr id="q17">
                                    <td>
                                        17. Some unimportant thought runs through my mind and bothers me.......
                                    </td>
                                    <td><input type="radio" id="17_1" name="q17" value="17_1">1</td>
                                    <td><input type="radio" id="17_2" name="q17" value="17_2">2</td>
                                    <td> <input type="radio" id="17_3" name="q17" value="17_3">3</td>
                                    <td><input type="radio" id="17_4" name="q17" value="17_4">4</td>
                                </tr>
                                <tr id="q18">
                                    <td>
                                        18. I take disappointments so keenly that I can’t put them out of my mind .............
                                    </td>
                                    <td><input type="radio" id="18_1" name="q18" value="18_1">1</td>
                                    <td><input type="radio" id="18_2" name="q18" value="18_2">2</td>
                                    <td> <input type="radio" id="18_3" name="q18" value="18_3">3</td>
                                    <td><input type="radio" id="18_4" name="q18" value="18_4">4</td>
                                </tr>
                                <tr id="q19">
                                    <td>
                                        19. I am a steady person.......
                                    </td>
                                    <td><input type="radio" id="19_1" name="q19" value="19_1">1</td>
                                    <td><input type="radio" id="19_2" name="q19" value="19_2">2</td>
                                    <td> <input type="radio" id="19_3" name="q19" value="19_3">3</td>
                                    <td><input type="radio" id="19_4" name="q19" value="19_4">4</td>
                                </tr>
                                <tr id="q20">
                                    <td>
                                        20. I get in a state of tension or turmoil as I think over my recent concerns and interests...........
                                    </td>
                                    <td><input type="radio" id="20_1" name="q20" value="20_1">1</td>
                                    <td><input type="radio" id="20_2" name="q20" value="20_2">2</td>
                                    <td> <input type="radio" id="20_3" name="q20" value="20_3">3</td>
                                    <td><input type="radio" id="20_4" name="q20" value="20_4">4</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    @*<p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">State-Trait Anxiety Inventory for Adults Scoring Key (Form Y-1, Y-2)</span>
                        </p>
                        <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Developed by Charles D. Spielberger in collaboration with R.L. Gorsuch, R. Lushene, P.R. Vagg, and G.A. Jacobs</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">To use this stencil, fold this sheet in half and line up with the appropriate test side, either Form Y-1 or Form Y-</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2. Simply total the scoring weights shown on the stencil for each response category. For example, for question # 1, if the respondent marked 3, then the weight would be 2. Refer to the manual for appropriate normative data.</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Form Y-1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Form Y-2</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">5.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">5.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">6.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">6.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">7.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">7.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">8.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">8.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">9.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">9.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">10.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">10.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">11.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">11.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">12.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">12.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">13.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">13.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">14.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">14.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">15.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">15.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">16.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">16.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">17.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">17.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">18.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">18.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">19.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">19.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">20.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">20.</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                            <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>*@
                </section>



                <div class="col-md-6" style=" margin-top:30px;">
                    <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveForms('stpSaveZhaoANXIETY_Y2', '8');">Save And Next</button>
                    @if (Model.Mode == "redirect")
                    {
                        <button type="button" class="button1" id="btnBack">Back</button>
                    }
                </div>

            </div>
        </div>
    </div>

</form>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            //SetUpGrid();
            $('#btnBack').click(function () {
                var url = $('#PsychologicalEvaluationForms').val();
                window.location.href = url;
            });
        });





                //function printDiv(divName) {
                //    var printContents = document.getElementById(divName).innerHTML;
                //    w = window.open();
                //    w.document.write(printContents);
                //    w.print();
                //    w.close();
                //}




    </script>

}
