@*@model TM.RestHour.Models.CrewTimesheetViewModel*@
@{
    ViewBag.Title = "PatientDetails";
}

<script src="~/Scripts/VesselDetails.js"></script>
<script src="~/Scripts/CIRM.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="dist/dual-listbox.css" rel="stylesheet">


<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

<link href="~/Content/plugin/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/css/pickmeup.css" rel="stylesheet" />


<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<style>
    .bac {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
    }

    .bac1 {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
        height: 450px;
    }
</style>




<body>

    @*@Html.Hidden("saveCIRM", @Url.Action("SaveCIRM", "CrewHealth"))*@

    <div class="">
        <div class="head_title">
            <h1 class="ta">CIRM - Patient Details</h1>
            <input type="hidden" id="CIRMId" />
        </div>

        <div class="card bacmt">


            <div class="clearfix"></div>
            @*-----Added On 4th Jan 2022-------------------------------*@
            @Html.Partial("_pvVesselDetails")
            @*--End---Added On 4th Jan 2022-------------------------------*@

            @Html.Partial("_pvPatientDetails")

        </div>
    </div>
</body>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');
        


        $(document).ready(function () {

            //-------Added On 4th Jan 2022-------------------------------
            GetVesselTypeForDrp();
            GetShip();
            //----End---Added On 4th Jan 2022-------------------------------

            SetUpGrid();
            //GetCrewForCIRMPatientDetails();

            document.getElementById("Nationality").disabled = true;
            document.getElementById("ddlRank").disabled = true;

            $('#FrequencyOfVomiting').hide();
            $('#FrequencyOfFits').hide();
            $('#FrequencyOfGiddiness').hide();
            $('#FrequencyOfLethargy').hide();

            $('#btnUploadJoiningMedical').hide();
            $('#btnMedicineAvailableOnBoard').hide();
            $('#btnMedicalEquipmentOnBoard').hide();
            $('#btnMedicalHistoryUpload').hide();
            $('#btnWorkAndRestHourLatestRecord').hide();
            $('#btnPreExistingMedicationPrescription').hide();
            $('#btnUploadPistures').hide();
        });

        


        

    </script>

}
