@model TM.RestHour.Models.CrewTimesheetViewModel

@{
    ViewBag.Title = "ReportDailyTemperature";
}
@*/////////////*@
<script src="../Scripts/jquery-3.6.0.min.js"></script>
<script src="../Scripts/jquery.dataTables.min.js"></script>
<link href="../Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@*////////////*@

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />

<link href="../Content/jquery-ui.min.css" rel="stylesheet" />
<link href="../Content/themes/base/datepicker.css" rel="stylesheet" />


<script src="../Scripts/CrewHealth.js"></script>


<div class="">
    <div class="head_title arrowimg">
        <a href="@Url.Action("UserDashboard", "Home" )"><span class="title-arrow"><img src="../img/arrow.png" /></span></a> <img src="../img/brein.png" />  <h1 style=" font-size: 1.5rem;">Health </h1>
    </div>
    <div class="white_card_header">
        <div class="box_header m-0">
            <div class="main-title">
                <h2 class="mrBTM-10"></h2>
            </div>
        </div>
    </div>
    <div class="card bac">
        <div class="">

            <div class="">
                @Html.Hidden("getCrewTemperaturePageWiseByCrewID", @Url.Action("GetCrewTemperaturePageWiseByCrewID", "CrewHealth"))
                @Html.Hidden("getCrewTemperaturePageWiseByCrewID2", @Url.Action("GetCrewTemperaturePageWiseByCrewID2", "CrewHealth"))

                @Html.Hidden("getCrewTemperaturePageWise", @Url.Action("GetCrewTemperaturePageWise", "CrewHealth"))
                @Html.Hidden("getCrewTemperaturePageWise2", @Url.Action("GetCrewTemperaturePageWise2", "CrewHealth"))

                @Html.Hidden("savecrewtemperature", @Url.Action("SaveCrewTemperature", "CrewHealth"))

                @Html.Hidden("GetAgeFromDOBForCrewTemperature", @Url.Action("GetAgeFromDOBForCrewTemperature", "CrewHealth"))

                <div class="" id="sideform">
                    <div class="">
                        <div class="card-block">
                            <form class="form-horizontal" role="form">
                                <div class="row mrTP-10">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <div>
                                                <div class="mrLFT-10" id="sideform">
                                                    <label for="selectCrew">Crew</label>
                                                    @*@Html.DropDownListFor(model => model.Crew.ID, (IEnumerable<SelectListItem>)ViewBag.Crew, "Select", new { @class = "form-control", @id = "ddlCrew" })*@
                                                    @Html.HiddenFor(model => model.Crew.ID, new { id = "hdnCrewId", value = Model.Crew.ID })
                                                    @Html.DropDownListFor(model => model.Crew.ID, (IEnumerable<SelectListItem>)ViewBag.Crew, "Select", new { @class = "form-control", @id = "ddlCrew" })

                                                </div>
                                                <div class="mrLFT-10" id="sideform">
                                                    <div class="form-group">
                                                        <label for="ReportsDate">Month</label>
                                                        <select id="Month" style="width:100%;" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="form-group  mrTP-30">
                                            <div class="pull-right">
                                                @*<div class="pull-right" id="sideform">
                                                        <button type="button" class="btn btn-info mrRHT-10" id="ShowReportForAll"><i class="ti-eye"></i> Show For All</button>
                                                    </div>*@
                                                @*<div class="pull-right" id="sideform">
                                                        <button type="button" class="btn btn-primary mrRHT-10" id="btnPrintForAll"><i class="ti-printer"></i> Print For All</button>
                                                    </div>*@
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="pull-right">
                                                <div class="pull-right" id="sideform">
                                                    <button type="button" class="btn btn-info mrRHT-10" id="ShowReport"><i class="ti-eye"></i> Show Report</button>
                                                </div>
                                                <div class="pull-right" id="sideform">
                                                    <button type="button" class="btn btn-info mrRHT-10" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add</button><br /><br />
                                                </div>

                                                @*<div class="pull-right" id="sideform">
                                                        <button type="button" class="btn btn-primary mrRHT-10" id="btnPrint"><i class="ti-printer"></i> Print Report</button>
                                                    </div>*@
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

            <div id="div1" style="display:block;" class="mrRHT-10 mrLFT-10">
                <hr>
                <input type="hidden" id="hdnrole" />
                <div class="table-responsive">
                    <table id="certtableReport2" class="display table dataTable no-footer">
                        <thead align="center" class="blue_Color color_white">
                            <tr>
                                <th>Date</th>
                                <th>Temperature</th>
                                <th>Systolic</th>
                                <th>Diastolic</th>
                                <th>Respiratory Rate</th>
                                <th>Pulse Rate</th>
                                <th>Haemoglobin</th>
                                <th>Bilirubin</th>
                                <th>Creatinine</th>
                                <th>SPO2</th>
                                <th>Fasting Suger</th>
                                <th>Random Suger</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>





            @***********************Daily Temperature Edit Modal************************@
            @Html.Partial("_pvDailyTemperatureModal")

            @***************End********Daily Temperature Edit Modal************************@

        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
<div id="dvprint22" style="display:none;"  class="mrRHT-10 mrLFT-10">

    <hr>
    <div class="table-responsive">
        <table id="certtable_print22" class="display table dataTable no-footer">
            <thead align="center" class="blue_Color color_white">
                <tr>
                    <th>Reading Date</th>
                    <th>Reading Time</th>
                    <th>Full Name</th>
                    <th>Rank</th>
                    <th>Place</th>
                    <th>Temperature Mode</th>
                    <th>Body Temperature (NORMAL : 36.0 – 37.5 C)</th>
                    <th>Unit</th>
                    <th>TEMPERATURE TAKEN THROUGH</th>
                </tr>
            </thead>
            <tbody align="center">
            </tbody>
        </table>
    </div>
    

</div>
@*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

@*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
<div id="dvprint222" style="display:none;" class="mrRHT-10 mrLFT-10">

    <hr>
    <div class="table-responsive">
        <table id="certtable_print222" class="display table dataTable no-footer">
            <thead align="center" class="blue_Color color_white">
                <tr>
                    <th>Reading Date</th>
                    <th>Reading Time</th>
                    <th>Full Name</th>
                    <th>Rank</th>
                    <th>Place</th>
                    <th>Temperature Mode</th>
                    <th>Body Temperature (NORMAL : 36.0 – 37.5 C)</th>
                    <th>Unit</th>
                    <th>TEMPERATURE TAKEN THROUGH</th>
                </tr>
            </thead>
            <tbody align="center">
            </tbody>
        </table>
    </div>


</div>
@*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@



@section Scripts
{
    @Scripts.Render("../bundles/jqueryval")
    @Scripts.Render("../bundles/jqueryui")
    @Styles.Render("../Content/themes/base/css")

    @*<script src="~/Scripts/DataTables/buttons.print.min.js"></script>*@

    <script src="../Scripts/toastr.min.js"></script>
    <link href="../Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {


          


            $('#btnPrint').attr('disabled', true);
            $('#btnPrintForAll').attr('disabled', true);

            $("#btnAdd").prop("disabled", true); // deep






            var loggedInUserId = 0;
            loggedInUserId = $('#hdnCrewId').val();
            //$('#btnPrint').attr('disabled', true);
            //$('#btnAdd').attr('disabled', true);

            if (loggedInUserId > 0) { // user level log in

                console.log('Logged In UserId');
                console.log(loggedInUserId);
                $('#ddlCrew').val(loggedInUserId);
                $("#ddlCrew").prop("disabled", true);

                GetAgeFromDOBForCrewTemperature(loggedInUserId);

            }

        });



        $("#btnSubmit").click(function () {   //deep
            //alert("button");
            $("#btnAdd").prop("disabled", false);
        });

        function CalculateBMI() {
            var weight = $("#Weight").val();
            var height = $("#Height").val();
            //alert(weight);
            if (weight > 0 && height > 0) {
                var actualht = height / 100;
                actualht = actualht.toFixed(2);
                var finalBmi = (weight / (actualht * actualht));
                finalBmi = finalBmi.toFixed(2);

                $("#BMI").val(finalBmi);
            }
        }







        $('#ShowReport').click(function () {

            //$('#btnPrint').attr('disabled', false);
            GetCrewTemperaturePageWiseByCrewID();
        });


        $("#btnPrint").click(function () {
            //PrintWorkAndRestHours();
            Popup22('');
        });







        $('#ShowReportForAll').click(function () {

            $('#btnPrintForAll').attr('disabled', false);
            GetCrewTemperaturePageWise();
        });


        $("#btnPrintForAll").click(function () {
            //PrintWorkAndRestHours();
            Popup222('');
        });

                    //$("#btnAdd").click(function () {
                    //    SetUpGridCrewTemperatureReport(CrewID);
                    //});

                        //$("#ExpiryDate").datepicker({

                        //    changeMonth: true,
                        //    changeYear: true,
                        //    dateFormat: 'd-M-yy',

                        //});

    </script>

}

