@model TM.RestHour.Models.CrewTimesheetViewModel
@{
    ViewBag.Title = "VesselDetails";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/VesselDetails.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="dist/dual-listbox.css" rel="stylesheet">
<link href="~/link/css/rank.css" rel="stylesheet" />

<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

<link href="~/Content/plugin/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/css/pickmeup.css" rel="stylesheet" />

<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<style>
    .bac {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
    }

    .bac1 {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
        height: 450px;
    }
</style>

<body>

    @Html.Hidden("myUrlNew", @Url.Action("GetShipByID", "Vessel"))

    @Html.Hidden("SaveVesselDetails", @Url.Action("SaveVesselDetails", "CrewHealth"))


    @Html.Hidden("myUrlGetVesselTypeIDFromShip", @Url.Action("GetVesselTypeIDFromShip", "CrewHealth"))
    @Html.Hidden("myUrlGetVesselSubTypeIDFromShip", @Url.Action("GetVesselSubTypeIDFromShip", "CrewHealth"))
    @Html.Hidden("myUrlGetVesselSubSubTypeIDFromShip", @Url.Action("GetVesselSubSubTypeIDFromShip", "CrewHealth"))

    @Html.Hidden("myUrlid0", @Url.Action("GetVesselTypeForDrp", "CrewHealth"))
    @Html.Hidden("myUrlid1", @Url.Action("GetVesselSubTypeByVesselTypeIDForDrp", "CrewHealth"))
    @Html.Hidden("myUrlid2", @Url.Action("GetVesselSubSubTypeByVesselSubTypeIDForDrp", "CrewHealth"))

    <div class="vessel-detl">

        <div class="head_title">
            <h1 class="ta">CIRM - Vessel Details</h1>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="VesselType">Vessel Type</label>
                        @*@Html.DropDownListFor(model => model.VesselTypeID, (IEnumerable<SelectListItem>)ViewBag.VesselType, "Select", new { @class = "form-control" })*@
                        <select id="VesselTypeID" name="VesselTypeID" class="form-control" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="VesselName">Vessel Name</label>
                        @*@System.Web.HttpContext.Current.Session["ShipName"].ToString()*@
                        <input type="text" class="form-control" id="VesselName" placeholder="VesselName" disabled />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="VesselSubType">Vessel Sub Type</label>
                        <select id="VesselSubTypeID" name="VesselSubTypeID" class="form-control" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="FlagOfShip">Flag Of Ship</label>
                        @*@System.Web.HttpContext.Current.Session["ShipName"].ToString()*@
                        <input type="text" class="form-control" id="FlagOfShip" placeholder="FlagOfShip" disabled />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="VesselSubSubType">Vessel Sub Sub Type</label>
                        <select id="VesselSubSubTypeID" name="VesselSubSubTypeID" class="form-control" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="IMONumber">IMO Number</label>
                        @*@System.Web.HttpContext.Current.Session["ShipName"].ToString()*@
                        <input type="text" class="form-control" id="IMONumber" placeholder="IMONumber" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="Call Sign">Call Sign</label>
                        <input type="text" class="form-control" id="CallSign" placeholder="Call Sign" />
                    </div>
                    <div class="form-group">
                        <label for="Length">Length</label>
                        <input type="text" class="form-control" id="Length" placeholder="Length" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="ID" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Port Of Registry">Port Of Registry</label>
                        <input type="text" class="form-control" id="PortOfRegistry" placeholder="Port Of Registry" />
                    </div>
                    <div class="form-group">
                        <label for="Breadth">Breadth</label>
                        <input type="text" class="form-control" id="Breadth" placeholder="Breadth" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Helicopter Deck">Helicopter Deck</label>
                        <input type="text" class="form-control" id="HelicopterDeck" placeholder="Helicopter Deck" />
                    </div>
                    <div class="form-group">
                        <label for="Helicopter Winching Area">Helicopter Winching Area</label>
                        <input type="text" class="form-control" id="HelicopterWinchingArea" placeholder="Helicopter Winching Area" />
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <h3> Communication Resources</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ShipEmail">Ship Email</label>
                        <input type="text" class="form-control" id="ShipEmail" placeholder="ShipEmail" disabled />
                        <input type="text" class="form-control" id="ShipEmail2" placeholder="ShipEmail2" disabled />
                    </div>
                    <div class="form-group">
                        <label for="VOIP1">VOIP</label>
                        <input type="text" class="form-control" id="VOIP1" placeholder="VOIP1" disabled />
                        <input type="text" class="form-control" id="VOIP2" placeholder="VOIP2" disabled />
                    </div>
                    <div class="addbtn">
                        <button type="button" class="button1" id="btnAdd" onclick="return SaveVesselDetails();">Add</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Fax1">Fax</label>
                        <input type="text" class="form-control" id="Fax1" placeholder="Fax1" disabled />
                        <input type="text" class="form-control" id="Fax2" placeholder="Fax2" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Mobile1">Mobile</label>
                        <input type="text" class="form-control" id="Mobile1" placeholder="Mobile1" disabled />
                        <input type="text" class="form-control" id="Mobile2" placeholder="Mobile2" disabled />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Voices1">Voices</label>
                        <input type="text" class="form-control" id="Voices1" placeholder="Voices1" disabled />
                        <input type="text" class="form-control" id="Voices2" placeholder="Voices2" disabled />
                    </div>
                    
                </div>
            </div>
            </div>
                <div class="card">
                    <div class="row">
                        @*<div class="col-md-4">
            <img src="~/background/HumanBody.jpg" style="width: 100%; float: right;" />
            <button type="button" class="button1" style="float: right; right: 25px;" data-toggle="modal" data-target="#myModal" onclick="openBody();">Go to the Image</button><br /><br />
        </div>*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="P And I Club">P&I Club</label>
                                <select id="PAndIClub" style="width:100%;" class="form-control">
                                    <option value="">Select</option>
                                    <option value="AmericanSteamshipOwners">AmericanSteamshipOwners</option>
                                    <option value="TheBritanniaSteamShip">TheBritanniaSteamShip</option>
                                    <option value="GardPAndIBermudaLtd">GardPAndI(Bermuda)Ltd</option>
                                    <option value="TheJapanShipOwnersMutual">TheJapanShipOwnersMutual</option>
                                    <option value="TheLondonSteamShipOwnersMutual">TheLondonSteamShipOwnersMutual</option>
                                    <option value="TheNorthOfEngland">TheNorthOfEngland</option>
                                    <option value="TheShipOwnersMutual">TheShipOwnersMutual</option>
                                    <option value="SkuldMutualAssuranceforeningenSkuld">SkuldMutualAssuranceforeningenSkuld</option>
                                    <option value="TheStandardClubLtd">TheStandardClubLtd</option>
                                    <option value="TheSteamShipMutual">TheSteamShipMutual</option>
                                    <option value="TheSwedishClub">TheSwedishClub</option>
                                    <option value="UnitedKingdomMutual">UnitedKingdomMutual</option>
                                    <option value="TheWestOfEnglandShipOwnersMutual">TheWestOfEnglandShipOwnersMutual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="P And I Club Other">Other P&I Club</label>
                                <textarea type="text" class="form-control" id="PAndIClubOther" placeholder="Other P&I Club"></textarea>
                            </div>
                            <div class="addbtn">
                                <button type="button" class="button1">Save</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="Contact Details">Contact Details</label>
                                <textarea type="text" class="form-control" id="ContactDetails" placeholder="Contact Details"></textarea>
                            </div>
                            <div class="addbtn">
                                <button type="button" class="button1">Save</button>
                            </div>
                        </div>

                            @*<div class="form-group">
                <label for="DateOfReportingGMT">Date Of Reporting GMT</label>
                <input type="text" class="form-control" id="DateOfReportingGMT" placeholder="Date Of Reporting GMT" />
            </div>
            <div class="form-group">
                <label for="TimeOfReportingGMT">Time Of Reporting GMT</label>
                <select name="account" class="form-control" id="TimeOfReportingGMT" required="">
                    <option value="">Select</option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>

                </select>
            </div>
            <div class="form-group">
                <label for="PresentLocation">Present Location </label>
                <input type="text" class="form-control" id="PresentLocation" placeholder="Present Location" />
            </div>
            <div class="form-group">
                <label for="Course">Course (0-359 Deg)</label>
                <input type="text" class="form-control" id="Course" placeholder="Course" />
            </div>*@
                        </div>

                        @*<div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">
            <div class="form-group">
                <label for="Speed">Speed (in knots)</label>
                <input type="text" class="form-control" id="Speed" placeholder="Speed" />
            </div>
            <div class="form-group">
                <label for="PortOfDeparture">Port Of Departure</label>
                <input type="text" class="form-control" id="PortOfDeparture" placeholder="Port Of Departure" />
            </div>
            <div class="form-group">
                <label for="PortOfArrival">Port Of Arrival</label>
                <input type="text" class="form-control" id="PortOfArrival" placeholder="Port Of Arrival" />
            </div>
            <div class="form-group">
                <label for="ETADateGMT">ETA Date GMT</label>
                <input type="text" class="form-control" id="ETADateGMT" placeholder="ETA Date GMT" />
            </div>
            <div class="form-group">
                <label for="ETA Time GMT">ETA Time GMT</label>
                <select name="account" class="form-control" id="ETATimeGMT" required="">
                    <option value="">Select</option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>

                </select>
            </div>
            <div class="form-group">
                <label for="AgentDetails">Agent Details</label>
                <textarea type="text" class="form-control valid" id="AgentDetails" placeholder="Agent Details" style="width: 95% !important;"></textarea>
            </div>
        </div>

        <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">
            <div class="form-group">
                <label for="NearestPortETADateGMT">Nearest Port ETA Date GMT</label>
                <input type="text" class="form-control" id="NearestPortETADateGMT" placeholder="Nearest Port ETA Date GMT" />
            </div>
            <div class="form-group">
                <label for="NearestPortETATimeGMT">Nearest Port ETA Time GMT</label>
                <select name="account" class="form-control" id="NearestPortETATimeGMT" required="">
                    <option value="">Select</option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>

                </select>
            </div>
            <div class="form-group">
                <label for="WindSpeed">WindSpeed</label>
                <input type="text" class="form-control" id="WindSpeed" placeholder="WindSpeed" />
            </div>
            <div class="form-group">
                <label for="Sea">Sea</label>
                <input type="text" class="form-control" id="Sea" placeholder="Sea" />
            </div>
            <div class="form-group">
                <label for="Visibility">Visibility</label>
                <input type="text" class="form-control" id="Visibility" placeholder="Visibility" />
            </div>
            <div class="form-group">
                <label for="Swell">Swell</label>
                <input type="text" class="form-control" id="Swell" placeholder="Swell" />
            </div>
        </div>*@

                        @*<div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">
            <div class="form-group">
                <label for="Helicopter Deck">Helicopter Deck</label>
                <input id="HelicopterDeck" type="checkbox" />
            </div>
            <div class="form-group">
                <label for="Helicopter winching area">Helicopter winching area (only if above is no)</label>
                <input id="HelicopterWinchingArea" type="checkbox" />
            </div>
        </div>*@
                    </div>


                    @*<script>
                    function openBody() {
                        window.open("@Url.Action("TestBody", "CrewHealth")");
                    }
                    </script>*@




                    @*<div class="row" style="border: 1px solid #eee; padding: 10px;">
                        <div class="col-md-12">


                            <p style="line-height:28px;">
                                The medical assistance of the International Radio Medical Centre (C.I.R.M.) is guarantee by doctors in continuous service on call (H. 24). The controls of ships in navigation with sick or injured person on board can contact the C.I.R.M. through the following ways:

                                <br />

                                Phone &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>[+39 ] - 06.59290263<br /></strong>


                                E-mail &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> telesoccorso@cirm.it</strong>

                                <br />

                                <strong> Requests must carry the initials MEDRAD or DH-DOCTOR.</strong><br />

                                Note: For reference please visit <a href="http://www.cirm.it/sito_eng/telesoccorso.htm" style="color:blue !important;">www.cirm.it/sito_eng/telesoccorso.htm</a>

                            </p>
                        </div>

                    </div>*@
                </div>

            </div>
</body>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />





    @*@if (Convert.ToBoolean(Session["Admin"].ToString()) || Convert.ToBoolean(Session["User"].ToString()))
        {*@

    <script type="text/javascript">

        $(document).ready(function () {

            GetVesselTypeForDrp();

            //$('#VesselTypeID').trigger("change");
            GetShip();
        });

        $('#VesselTypeID').on('change', function () {
            //alert($('option:selected', this).text());

            var VesselTypeID = $('#VesselTypeID').val();
            console.log('hi');
            console.log(VesselTypeID);

            GetVesselSubTypeByVesselTypeIDForDrp(VesselTypeID);
        });

        $('#VesselSubTypeID').on('change', function () {
            //alert($('option:selected', this).text());

            var VesselSubTypeID = $('#VesselSubTypeID').val();
            //console.log('hi');
            //console.log(VesselSubTypeID);

            GetVesselSubSubTypeByVesselSubTypeIDForDrp(VesselSubTypeID);

        });











        $("#DateOfReportingGMT").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });

        $("#ETADateGMT").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });

        $("#NearestPortETADateGMT").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });


    </script>
    @*}*@
}
