@model TM.RestHour.Models.Crew

@{
    ViewBag.Title = "CrewList";
}

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />




@*/////////////*@
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@*////////////*@

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />


@*@Html.Hidden("Showreport3", @Url.Action("GetVarianceFromWorkSessions", "Reports"))
    @Html.Hidden("loaddata", @Url.Action("GetVarianceFromWorkSessions", "Reports"))
    @Html.Hidden("pdfreport", @Url.Action("GetVarianceFromWorkSessionsForPdf", "Reports"))*@



<div class="">
    <div class="white_card_header">
        <div class="box_header m-0">
            <div class="main-title">
                <h2 class="mrBTM-10">Crew List</h2>
            </div>
        </div>
    </div>
    
    <div class="card bac">
        <div class="">

            <div class="row">
                @*@Html.Hidden("GetCrewBookedHours", @Url.Action("GetCrewBookedHours", "TimeSheet"))*@
                <div class="col-sm-12 col-xs-12" id="sideform">

                    <button type="button" class="btn btn-primary pull-right mrRHT-10 mrTP-10" id="btnPrint" @*disabled="disabled"*@> <i class="ti-printer"></i> Print Report</button>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="mrLFT-10 mrRHT-10 font16">
                        <div class="mrBTM-10">
                            <hr />
                        </div>
                        <div class="mrBTM-10 mrTP-10">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Name and type of ship :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                        @Session["ShipName"].ToString()
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        IMO Number :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                        @Session["IMONumber"].ToString()
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Call Sign:
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mrBTM-10 mrTP-10">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Post of Departure :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Date of Departure :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Flag state of Ship :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                        @Session["Flag"].ToString()
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mrBTM-10 mrTP-10">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="pull-left color_blue_Dark">
                                        Last Post of Call :
                                    </div>
                                    <div class="pull-left font_W700">
                                        &nbsp;
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="dvdisplay" class="col-sm-12 col-xs-12">

                    @Html.Hidden("loaddatareport", @Url.Action("LoadData", "Reports"))
                    @Html.Hidden("loadprintreport", @Url.Action("LoadData2", "Reports"))

                    <input type="hidden" id="hdnrole" />
                    <div class="table-responsive">
                        <table id="certtableReport" class="table display">
                            <thead class="blue_Color color_white">
                                <tr>
                                    <th scope="col">Serial No.</th>
                                    <th scope="col">Family Name, Given Names</th>
                                    <th scope="col">Joining Date</th>
                                    <th scope="col">Ranks or Rating</th>
                                    <th scope="col">Nationality</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">Passport</th> @*<th>No. of Identity</th>*@
                                    <th scope="col">Seaman</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
                            

            <div class="row">
                <div id="dvprint2" class="col-sm-12 col-xs-12" style="display:none;">
                    <img src="~/companylogo/companylogo.png" />
                    <hr>
                    <div class="table-responsive">
                        <table id="certtable_print" class="table display">
                            <thead class="blue_Color color_white">
                                <tr>
                                    <th align="left">Serial No.</th>
                                    <th align="left">Family Name, Given Names</th>
                                    <th align="left">Joining Date</th>

                                    <th align="left">Ranks or Rating</th>
                                    <th align="left">Nationality</th>
                                    <th align="left">Date of Birth</th>
                                    <th align="left">Passport</th> @*<th>No. of Identity</th>*@
                                    <th align="left">Seaman</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                @section Scripts
{
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/jqueryui")
                    @Styles.Render("~/Content/themes/base/css")


                    <script src="~/Scripts/pdfmake.min.js"></script>
                    <script src="~/Scripts/vfs_fonts.js"></script>
                    <script src="~/Scripts/Reports.js"></script>

                    <script type="text/javascript">


                        $(document).ready(function () {


                            SetUpGridReport();


                            $(function () {
                                $('.monthYearPicker').datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    showButtonPanel: true,
                                    dateFormat: 'MM yy'
                                }).focus(function () {
                                    var thisCalendar = $(this);
                                    $('.ui-datepicker-calendar').detach();
                                    $('.ui-datepicker-close').click(function () {
                                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                                        thisCalendar.datepicker('setDate', new Date(year, month, 1));
                                    });
                                });
                            });



                        });




                        $("#btnPrint").click(function () {
                            //PrintTest('');
                            Popup2('');
                        });

                        $("#btnAdd").click(function () {
                            SetUpGridReport();
                        });

                    </script>
                }
