@model TM.RestHour.Models.CrewTimesheetViewModel

@{
    ViewBag.Title = "IndexForUser";
}

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

@*<style>
        positive {
            background-image: linear-gradient(black,black); /* your gradient */
            background-repeat: no-repeat; /* don't remove */
        }

        negative {
            background-image: linear-gradient(black,black);
            background-position: 100% 100%;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }

        .bottom-three {
            margin-bottom: 0.5cm;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 0px 0px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 0px 0px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-baqh {
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-8ls8 {
            color: #ffc702;
            text-align: right;
            vertical-align: top;
        }

        .tg .tg-f8tx {
            color: #000000;
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-v0f9 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif !important;
            ;
            color: #333333;
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-amwm {
            font-weight: bold;
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-s4h7 {
            color: #333333;
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-yw4l {
            vertical-align: top;
            /*text-align: right;*/
        }

        .tg .tg-l2oz {
            font-weight: bold;
            text-align: right;
            vertical-align: top;
        }

        .tg .tg-pwjw {
            color: #330001;
            text-align: center;
            vertical-align: top;
        }
    </style>

    <style>
        .hidden {
            display: none
        }
    </style>*@

<style>
    h4 {
        padding: 0px;
        margin: 0px;
    }
</style>
<style>
    .button {
        position: relative;
        background-color: #a278fe;
        border: none;
        font-size: 14px;
        color: #FFFFFF;
        padding: 8px;
        width: 148px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        border-radius: 4px;
        margin-right: 39px;
        float: left;
    }

        .button:after {
            content: "";
            background: #90EE90;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }

        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }

    a.btn {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }

    body {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .main-footer {
        background: #fff;
        padding: 0px;
    }

    .content {
        min-height: 250px;
        padding: 15px 15px 0 15px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 30px;
        font-size: 13px;
        border-radius: 4px;
    }

    .disabled {
        background: #000;
    }

    button[disabled], html input[disabled] {
        cursor: default;
        background: #868686;
        opacity: 0.65;
        cursor: not-allowed;
    }
</style>


@Html.Hidden("ReportsaddForUser", @Url.Action("GetMonthlyDataForUser", "Reports"))
@Html.Hidden("ShowreportForUser", @Url.Action("GetMonthlyDataForWebForUser", "Reports"))
@Html.Hidden("GetWorkingHoursForUser", @Url.Action("GetNormalWorkingHoursForUser", "Reports"))
@Html.Hidden("GetPlusOneDayAdjustmentValueForUser", @Url.Action("GetPlusOneDayAdjustmentValueForUser", "Reports"))
@Html.Hidden("GetMinusOneDayAdjustmentValueForUser", @Url.Action("GetMinusOneDayAdjustmentValueForUser", "Reports"))

@Html.Hidden("printReport1ForUser", @Url.Action("HTML_Report1ForUser", "Reports"))

<h2>Monthly Work Hours</h2>
<div class="card" style="border: 0; border-radius: 0; box-shadow: 0 6px 15px 0 rgba(207, 211, 218, 0.35); padding:10px;">
    <div class="row">
        @*@Html.Hidden("GetCrewBookedHours", @Url.Action("GetCrewBookedHours", "TimeSheet"))*@

        <!-----Screen divided into 4+8 ---------->
        <div class="col-md-4" id="sideform">
            <div class="card">
                <div class="card-block">
                    <form class="form-horizontal" role="form">


                        <div class="col-md-5" id="sideform">
                            <div class="form-group">
                                <label for="selectCrew">Crew</label>

                                @Html.DropDownListFor(model => model.Crew.ID, (IEnumerable<SelectListItem>)ViewBag.Crew, "Select", new { @class = "form-control", @id = "ddlCrew" })

                            </div>
                        </div>
                        <div class="col-md-2"></div>

                        <div class="col-md-5" id="sideform">
                            <div class="form-group">
                                <label for="ReportsDate"> Month & Year</label>


                                <input name="ReportsDate" class="monthYearPicker form-control" style="width:200px;" id="ReportsDateVal" />
                            </div>
                        </div>

                        <div class="col-md-7" id="sideform">
                            <div class="form-group">
                                <button type="button" class="button" id="btnAdd" disabled="disabled" onclick=" return ProcessDataForUser();">Show Report</button>
                                @*myFunction();*@
                                @*clearTable();*@
                            </div>
                        </div>

                        <div class="col-md-4" id="sideform1">
                            <div class="form-group">
                                <button type="button" class="button" id="btnPrint" disabled="disabled" onclick="PrintReport1ForUser();">Print Report</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    @*<input id="btnPrint" type="button" value="Print" onclick="PrintReport1();" />*@


    <table width="100%">
        <tr>
            <td align="left" width="75%"><b>HOURS OF WORK AND REST</b></td>
            <td align="right">Revision Number : </td>
        </tr>

        <tr>
            <td align="left" width="75%">Form Number : </td>
            <td align="right"> Page Number : </td>
        </tr>
        <tr style="height:2px;">
            <td colspan="2"><hr style="padding:0px; margin:0px;" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                    <tr>
                        <td align="left" width="40%">Seafarer's Full Name : <span id="nm"></span></td>
                        <td align="left" width="20%"> Vessel Name :@Session["ShipName"].ToString()  </td>
                        <td align="right" width="75%"> Master : <span id="rn1"></span> </td>
                    </tr>
                    <tr>
                        <td align="left" width="50%">Seafarer's Rank : <span id="rn"></span></td>
                        <td colspan="2" align="left">IMO Number : </td>
                    </tr>
                    <tr>
                        <td align="left">Year : <span id="yr"></span></td>
                        <td>Month : <span id="mn"></span></td>
                        <td align="right">Flag : @Session["Flag"].ToString()</td>
                        @*// $('#fl').text(@{ shipPoco.FlagOfShip.ToString() });
                            @Session["LoggedInUserName"].ToString();*@
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    @*<button type="button" data-column="#column-e">Hide/show last</button>*@

    @*<button>Empty the div element</button>*@

    <table border="1" style="  border-style: solid; border-width: 1px; border-collapse: collapse; border-spacing: 0; width: 100%;" id="schedule">
        <tr>
            <th class="tg-v0f9" width="2%">Date</th>
            <th class="tg-amwm" width="1%" id="column-e">00</th>
            <th class="tg-amwm" width="1%" id="h0">00</th>
            <th class="tg-amwm" width="1%" id="h1">01</th>
            <th class="tg-amwm" width="1%" id="h2">02</th>
            <th class="tg-amwm" width="1%" id="h3">03</th>
            <th class="tg-amwm" width="1%" id="h4">04</th>
            <th class="tg-amwm" width="1%" id="h5">05</th>
            <th class="tg-amwm" width="1%" id="h6">06</th>
            <th class="tg-amwm" width="1%" id="h7">07</th>
            <th class="tg-amwm" width="1%" id="h8">08</th>
            <th class="tg-amwm" width="1%" id="h9">09</th>
            <th class="tg-amwm" width="1%" id="h10">10</th>
            <th class="tg-amwm" width="1%" id="h11">11</th>
            <th class="tg-amwm" width="1%" id="h12">12</th>
            <th class="tg-amwm" width="1%" id="h13">13</th>
            <th class="tg-amwm" width="1%" id="h14">14</th>
            <th class="tg-amwm" width="1%" id="h15">15</th>
            <th class="tg-amwm" width="1%" id="h16">16</th>
            <th class="tg-amwm" width="1%" id="h17">17</th>
            <th class="tg-amwm" width="1%" id="h18">18</th>
            <th class="tg-amwm" width="1%" id="h19">19</th>
            <th class="tg-amwm" width="1%" id="h20">20</th>
            <th class="tg-amwm" width="1%" id="h21">21</th>
            <th class="tg-amwm" width="1%" id="h22">22</th>
            <th class="tg-amwm" width="1%" id="h23">23</th>
            <th class="tg-amwm" width="2%">Normal</th>
            <th class="tg-amwm" width="2%">Overtime</th>
            <th class="tg-amwm" width="4%">Total</th>
            <th class="tg-amwm" width="4%">Rest</th>
            <th class="tg-amwm" width="14%">Comments</th>
            <th class="tg-amwm" width="3%">Minimum Rest in any 24 hours</th>
            <th class="tg-amwm" width="3%">Minimum Rest in any 7 days</th>
        </tr>
        <tr id="1" filled="no">
            <td class="tg-s4h7">01</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>

        </tr>
        <tr id="2" filled="no">
            <td class="tg-s4h7">02</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="3" filled="no">
            <td class="tg-s4h7">03</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="4" filled="no">
            <td class="tg-s4h7">04</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="5" filled="no">
            <td class="tg-s4h7">05</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="6" filled="no">
            <td class="tg-s4h7">06</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="7" filled="no">
            <td class="tg-s4h7">07</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="8" filled="no">
            <td class="tg-s4h7">08</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="9" filled="no">
            <td class="tg-s4h7">09</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="10" filled="no">
            <td class="tg-s4h7">10</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>

        </tr>
        <tr id="11" filled="no">
            <td class="tg-s4h7">11</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="12" filled="no">
            <td class="tg-s4h7">12</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="13" filled="no">
            <td class="tg-s4h7">13</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="14" filled="no">
            <td class="tg-s4h7">14</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="15" filled="no">
            <td class="tg-s4h7">15</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="16" filled="no">
            <td class="tg-s4h7">16</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="17" filled="no">
            <td class="tg-s4h7">17</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="18" filled="no">
            <td class="tg-s4h7">18</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="19" filled="no">
            <td class="tg-s4h7">19</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="20" filled="no">
            <td class="tg-s4h7">20</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="21" filled="no">
            <td class="tg-s4h7">21</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="22" filled="no">
            <td class="tg-s4h7">22</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="23" filled="no">
            <td class="tg-s4h7">23</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="24" filled="no">
            <td class="tg-s4h7">24</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="25" filled="no">
            <td class="tg-s4h7">25</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="26" filled="no">
            <td class="tg-s4h7">26</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="27" filled="no">
            <td class="tg-s4h7">27</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="28" filled="no">
            <td class="tg-s4h7">28</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="29" filled="no">
            <td class="tg-s4h7">29</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="30" filled="no">
            <td class="tg-s4h7">30</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="31" filled="no">
            <td class="tg-s4h7">31</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-amwm"></td>
            <td class="tg-amwm"></td>
        </tr>
        <tr id="totals">
            <td class="tg-s4h7" colspan="26"><b>Totals</b></td>
            <td class="tg-yw4l" id="totalnormalhrs"><b><span id="sptotalnormalhrs"></span></b></td>
            <td class="tg-yw4l"><b><span id="sptotalovertimehrs"></span></b></td>
            <td class="tg-yw4l"><b><span id="sptotal"></span></b></td>
            <td class="tg-yw4l" colspan="4"><b><span id="sptotalRest"></span></b></td>

        </tr>
        <tr>
            <td class="tg-s4h7" colspan="26"><b>Guaranteed Overtime</b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l" colspan="4"><b></b></td>

        </tr>
        <tr>
            <td class="tg-s4h7" colspan="26"><b>Extra Overtime Payable</b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l"><b></b></td>
            <td class="tg-yw4l" colspan="4"><b></b></td>

        </tr>
    </table>

    <p class="bottom-three"></p>


    <table style="border:1px black solid;">
        <tr>
            <td colspan="2"><b>Key :</b></td>
        </tr>
        <tr>
            <td>First 30 mins :</td>
            <td> <p>&#9680;</p> </td>
        </tr>
        <tr>
            <td>Last 30 mins :</td>
            <td> <p>&#9681;</p> </td>
        </tr>
        <tr>
            <td>Full Hour :</td>
            <td> <p>&#9673;</p> </td>
        </tr>
    </table>

    <p class="bottom-three"></p>

    <table width="100%">
        <tr>
            <td>Signature of Seaman:</td>
            <td>________________________________________</td>
            <td>
                Signature of Master/Person Authorised by the Master:
            </td>
            <td>
                ________________________________________
            </td>
        </tr>


        <tr>
            <td colspan="2" align="center">

                <span id="seamanfooter"></span>
            </td>
            <td colspan="2" align="right">

                @*Singh, Amitabh*@<span id="Sname"></span>
            </td>
        </tr>
    </table>


    <div id="dvprint"></div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/Reports.js"></script>

    <script type="text/javascript">


        //$('#btnPrint').attr('disabled', false);
        $(document).ready(function () {


            //$('button').disabled(true);



            $(function () {
                $('.monthYearPicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    dateFormat: 'MM yy'
                }).focus(function () {
                    var thisCalendar = $(this);
                    $('.ui-datepicker-calendar').detach();
                    $('.ui-datepicker-close').click(function () {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        thisCalendar.datepicker('setDate', new Date(year, month, 1));
                    });
                });
            });


            //function myFunction() {
            //    location.reload();
            //}

        });

        $(document).on("click", "[data-column]", function () {
            var button = $(this),
                header = $(button.data("column")),
                table = header.closest("table"),
                index = header.index() + 1, // convert to CSS's 1-based indexing
                selector = "tbody tr td:nth-child(" + index + ")",
                column = table.find(selector).add(header);

            console.log(header);
            column.toggleClass("hidden");
        });

        function ShowHideCol() {
            var index = 2;
            var header = $('#column-e');
            var table = $('#schedule');
            var selector = "tbody tr td:nth-child(" + index + ")";
            var column = table.find(selector).add(header);

            column.toggleClass('hidden');

        }

        $("#ReportsDateVal").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {

                if ($('#ddlCrew').val() != '') {
                    $('#btnPrint').attr('disabled', false);
                    $('#btnAdd').attr('disabled', false);
                }
                else {

                    $('#ddlCrew').one('change', function () {
                        $('#btnPrint').attr('disabled', false);
                        $('#btnAdd').attr('disabled', false);
                    });
                }
            }
        });

        $("#btnPrint").click(function () {
            // PrintPdf();
        });




                    //$("button").click(function () {
                    //$("#1").empty();
                    //$("#2").empty();
                    //$("#3").empty();
                    //$("#4").empty();
                    //$("#5").empty();
                    //$("#6").empty();
                    //$("#7").empty();
                    //$("#8").empty();
                    //$("#9").empty();
                    //$("#10").empty();
                    //$("#11").empty();
                    //$("#12").empty();
                    //$("#13").empty();
                    //$("#14").empty();
                    //$("#15").empty();
                    //$("#16").empty();
                    //$("#17").empty();
                    //$("#18").empty();
                    //$("#19").empty();
                    //$("#20").empty();
                    //$("#21").empty();
                    //$("#22").empty();
                    //$("#23").empty();
                    //$("#24").empty();
                    //$("#25").empty();
                    //$("#26").empty();
                    //$("#27").empty();
                    //$("#28").empty();
                    //$("#29").empty();
                    //$("#30").empty();
                    //$("#31").empty();
                    //});




    </script>
}


