@model TM.RestHour.Models.CrewTimesheetViewModel

@{
    ViewBag.Title = "WorkAndRestHours";
}

@*/////////////*@
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@*////////////*@

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />







@*@Html.Hidden("Showreport" , @Url.Action("GetMonthlyDataForWeb", "Reports"))*@
@Html.Hidden("Showreport3", @Url.Action("GetVarianceFromWorkSessions", "Reports"))
@Html.Hidden("loaddata", @Url.Action("GetVarianceFromWorkSessions", "Reports"))
@Html.Hidden("pdfreport", @Url.Action("GetVarianceFromWorkSessionsForPdf", "Reports"))





<div class="">
    <div class="white_card_header">
        <div class="box_header m-0">
            <div class="main-title">
                <h2 class="mrBTM-10">Compliance Report</h2>
            </div>
        </div>
    </div>
    <div class="card bac">
        <div class="card">

            <div class="row">
                @*@Html.Hidden("GetCrewBookedHours", @Url.Action("GetCrewBookedHours", "TimeSheet"))*@

                <div class="col-sm-12 col-xs-12" id="sideform">
                    <div class="mrRHT-10 mrLFT-10 mrTP-10">
                        <div class="card-block">
                            <form class="form-horizontal" role="form">

                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group" id="sideform">
                                            <label for="selectCrew">Crew</label>
                                            @Html.HiddenFor(model => model.Crew.ID, new { id = "hdnCrewId", value = Model.Crew.ID })
                                            @Html.DropDownListFor(model => model.Crew.ID, (IEnumerable<SelectListItem>)ViewBag.Crew, "Select", new { @class = "form-control", @id = "ddlCrew" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <div class="" id="sideform">
                                                <label for="ReportsDate"> Month & Year</label>


                                                <input name="ReportsDate" class="monthYearPicker form-control" id="ReportsDateVal" />
                                            </div>

                                            <div class="form-group" style="float: right; width: 0%;">
                                                @*<img src="~/companylogo/companylogo.png" />*@
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-xs-12">
                                        <div class="text-right pull-right mrTP-30">
                                            <div class="form-group">
                                                <div>
                                                    <div class="pull-right" id="sideform">
                                                        <button type="button" class="btn btn-primary mrRHT-10" id="btnAdd" @*disabled="disabled"*@ onclick="return GetHours2();"><i class="ti-eye"></i> Show Report</button>
                                                    </div>

                                                    <div class="pull-right" id="sideform">

                                                        <button type="button" class="btn btn-info mrRHT-10" id="btnPrint" @*disabled="disabled"*@><i class="ti-printer"></i> Print Report</button>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 mrTP-10">
                                        <div class="mrLFT-10 mrRHT-10 font16">
                                            <div class="mrBTM-10">
                                                <h4 class="mrBTM-10">Work and Rest Hours - Variance</h4>
                                            </div>
                                            
                                            <div class="mrBTM-10">
                                                <hr />
                                            </div>
                                            <div class="mrBTM-10">
                                                <div class="pull-left">
                                                    <div class="pull-left color_blue_Dark">
                                                        Vessel:
                                                    </div>
                                                    <div class="pull-left font_W700">
                                                        &nbsp;
                                                        <span id="vs">@Session["ShipName"].ToString()</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="pull-left color_blue_Dark">
                                                        Crew:
                                                    </div>
                                                    <div class="pull-left font_W700">
                                                        &nbsp;
                                                        <span id="cr"></span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="mrBTM-10">
                                                <div class="pull-left">
                                                    <div class="pull-left color_blue_Dark">
                                                        Reporting Period:
                                                    </div>
                                                    <div class="pull-left font_W700">
                                                        &nbsp;
                                                        <span id="rp"></span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="pull-left color_blue_Dark">
                                                       
                                                    </div>
                                                    <div class="pull-left font_W700">
                                                        &nbsp;
                                                        
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <input type="hidden" id="hdnrole" />
                                        <div class="table-responsive">
                                            <table id="certtable" class="table display">
                                                <thead class="blue_Color color_white">
                                                    <tr>

                                                        <th scope="col">Day</thscope="col">
                                                        <th scope="col">Date</thscope="col">
                                                        <th scope="col">Minimum Rest Hour</th>
                                                        <th scope="col">Actual Rest Hour</th>
                                                        <th scope="col">Min Rest in 7 days</th>
                                                        <th scope="col">Actual Rest in 7 days</th>
                                                        <th scope="col">Compliance Errors</th>
                                                        <th scope="col">Comment</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>


            </div>


            
        </div>

        <div id="dvprint2" style="display:none;">

            <table width="100%">
                <tr>
                    <td align="left" width="75%"><b>Work and Rest Hours - Variance</b></td>
                    <td align="right">  <img src="~/companylogo/companylogo.png" />   </td>
                </tr>

                <tr>
                    <td align="left" width="75%">Vessel:<span id="vs">@Session["ShipName"].ToString()</span></td>
                    <td align="right"> Crew:<span id="cr_print"></span></td>
                </tr>
                <tr>
                    <td align="left" width="75%">Reporting Period:<span id="rp_print"></span></td>
                    @*<td align="right"> Department:<span id="dp_print"></span></td>*@
                </tr>
            </table>
            <hr>
            <table id="certtable_print" class="display" cellspacing="0" width="100%">
                <thead align="center">
                    <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Minimum Rest Hour</th>
                        <th>Actual Rest Hour</th>
                        <th>Min Rest in 7 days</th>
                        <th>Actual Rest in 7 days</th>
                        <th>Compliance Errors</th>
                        <th>Comment</th>

                    </tr>
                </thead>
                <tbody align="center">
                </tbody>
            </table>

        </div>


    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/Reports.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            $('#btnPrint').attr('disabled', true);
            $('#btnAdd').attr('disabled', true);

            var loggedInUserId = 0;
            loggedInUserId = $('#hdnCrewId').val();

            if (loggedInUserId > 0) { // user level log in

                console.log('Logged In UserId');
                console.log(loggedInUserId);
                $('#ddlCrew').val(loggedInUserId);
                $("#ddlCrew").prop("disabled", true);

            }



            $(function () {
                $('.monthYearPicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    dateFormat: 'MM yy'
                }).focus(function () {
                    var thisCalendar = $(this);
                    $('.ui-datepicker-calendar').detach();
                    $('.ui-datepicker-close').click(function () {
                        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        thisCalendar.datepicker('setDate', new Date(year, month, 1));

                        if ($('#ddlCrew').val() != '') {
                            $('#btnPrint').attr('disabled', false);
                            $('#btnAdd').attr('disabled', false);

                            $('#cr').text($('#ddlCrew option:selected').text());
                            $('#rp').text($("#ui-datepicker-div .ui-datepicker-month :selected").text() + ' ' + year);

                            $('#cr_print').text($('#ddlCrew option:selected').text());
                            $('#rp_print').text($("#ui-datepicker-div .ui-datepicker-month :selected").text() + ' ' + year);
                        }
                        else {


                            $('#btnPrint').attr('disabled', true);
                            $('#btnAdd').attr('disabled', true);

                        }
                    });
                });
            });

        });




        $("#btnPrint").click(function () {
            //PrintWorkAndRestHours();
            Popup2('');
        });

        $("#btnAdd").click(function () {
            SetUpGrid();
        });

    </script>
}
