@*@model TM.RestHour.Models.Vessel*@

@*@{
        Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    }*@

@{
    ViewBag.Title = "IndexIn";
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/link/css/rank.css" rel="stylesheet" />
<link rel="stylesheet" href="~/link/css/layout.css">
<script src="~/Scripts/Vessel.js"></script>
@*<script src="~/Scripts/MailServerDetails.js"></script>*@
<style>
    .form-group {
        margin-bottom: 8px;
        margin: 10px;
    }

    .bac {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 1px 15px 1px rgba(62,57,107,.07) top: 105px;
    }
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h1 class="ta">Mail Server Details</h1>
        </div>
        <div class="card bac">
            <div class="">
                <div style="margin:0 auto" class="tablecontainer">
                    @*@Html.Hidden("myUrl", @Url.Action("GetShipByID", "Vessel"))
        @Html.Hidden("myUrlNew", @Url.Action("GetShipByID", "Vessel"))
        @Html.Hidden("addnew", @Url.Action("AddNewVessel", "Vessel"))*@

                    @Html.Hidden("gotologin", @Url.Action("IndexIn", "MailServerDetails"))
                    @Html.Hidden("saveConfigData", @Url.Action("SaveConfigData", "Vessel"))
                    @Html.Hidden("getConfigData", @Url.Action("GetConfigData", "Vessel"))

                    <input type="hidden" id="hdncount" />
                    <input type="hidden" id="hdnrole" />
                    <div class="">
                        <form>
                            <div class="form-group">
                                <input type="hidden" id="ID" />
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="SmptServer">SMTP Server</label>
                                            <input type="text" class="form-control" id="SmptServer" placeholder="SMTP Server" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Port">Port</label>
                                            <input type="text" class="form-control" id="Port" placeholder="Port" />
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
            <div class="form-group">
                <label for="MailFrom">Mail From</label>
                <input type="text" class="form-control" id="MailFrom" placeholder="Mail From" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="MailId">Mail Id</label>
                <input type="text" class="form-control" id="MailId" placeholder="MailId" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" />
            </div>
        </div>*@

                                    @*///////////////////////////////////////////////////////////////////////////*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Ship Email">Ship Email</label>
                                            <input type="text" class="form-control" id="ShipEmail" placeholder="Ship Email" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Ship Email Password">Ship Email Password</label>
                                            <input type="password" class="form-control" id="ShipEmailPassword" placeholder="Ship Email Password" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Admin Center Email">Admin Center Email</label>
                                            <input type="text" class="form-control" id="AdminCenterEmail" placeholder="Admin Center Email" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="IMAPPOP">IMAP/POP</label>
                                            <select id="IMAPPOP" class="form-control">
                                                <option value="IMAP">IMAP</option>
                                                <option value="POP">POP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="POP3">IMAP / POP3 Server</label>
                                            <input type="text" class="form-control" id="POP3" placeholder="IMAP / POP3" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="POP3 Port">IMAP / POP3 Port</label>
                                            <input type="text" class="form-control" id="POP3Port" placeholder="Port" />
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group">
                                    <input type="hidden" id="ID" />
                                </div>

                            </div>

                            @*<div class="form-group">
                    <label for="Attachment">Attachment File Size (MB)</label>
                    <input type="text" class="form-control" id="Attachment" placeholder="Attachment" />
                </div>*@


                            <div class="col-md-12">
                                <div class="">
                                    <button type="button" class="button1" id="btnAddMailServer" onclick="return SaveConfigData();" style="width:138px; float:right; right:16px;">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts
{
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            @Styles.Render("~/Content/themes/base/css")

            <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
            <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    var data = '';
                 

                        var x = $("#getConfigData").val();
                      


                        $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'smtp'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#SmptServer').val(result);

                               // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });


                  
                        $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'port'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#Port').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });


                        $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'mailfrom'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#MailFrom').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });


                        $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'mailto'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#MailId').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });


                        $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'frompwd'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#Password').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });           

                    $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'shipemail'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#ShipEmail').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                    });           

                     $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'shipemailpwd'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#ShipEmailPassword').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                     });       

                     $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'admincenteremail'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#AdminCenterEmail').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                     });             

                      $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'pop3'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#POP3').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                      });         

                    $.ajax({
                            url: x,
                            data:
                            {
                                KeyName: 'pop3port'
                            },
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                $('#POP3Port').val(result);

                                // return result;
                            },
                            error: function (errormessage) {
                                //debugger;
                                console.log(errormessage.responseText);
                            }
                        });           
                });

            </script>
        }
    </div>
</body>