@model TM.RestHour.Models.Vessel

@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />





<link rel="stylesheet" href="~/link/css/layout.css">
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Vessel.js"></script>
<style>
    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #fff;
        text-align: center;
    }
    .card {
        margin: 0 0 31px 0;
    }
</style>
<body>

    <div class="">
        <div class="head_title">
            <h1 class="ta">Company Details</h1>
        </div>
        <div class="">

            <div class="">

                <div style="margin:0 auto" class="tablecontainer">
                    @Html.Hidden("myUrl", @Url.Action("GetCompanyDetails", "Vessel"))
                    @Html.Hidden("myUrl", @Url.Action("GetShipByID", "Vessel"))
                    @Html.Hidden("addnew", @Url.Action("AddNewVessel", "Vessel"))
                    @Html.Hidden("NewUnitadd", @Url.Action("NewAdd", "Vessel"))
                    @Html.Hidden("next", @Url.Action("Index", "MailServerDetails"))
                    @Html.Hidden("saveInitialShipValues", @Url.Action("SaveInitialShipValues", "Vessel"))

                    @Html.Hidden("myUrlNew", @Url.Action("GetCompanyDetailsNew", "CompanyDetails"))

                    <input type="hidden" id="hdncount" />

                    <input type="hidden" id="hdnrole" />
                    <div class="row">

                        <div class="col-md-12">
                            <h3 style="margin-top: 0px;" align="center"></h3>
                            <div align="center">
                                <div class="modal-body">
                                    <form>
                                        @*////////////// Owner /////////////*@
                                        <div class="card">
                                            <h1 class="">Owner</h1>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner Name:</label>
                                                        <input type="text" class="form-control" id="OwnerName" placeholder="Owner Name" disabled />
                                                    </div>
                                                </div>


                                                <div class="col-lg-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner Address:</label>
                                                        <input type="text" class="form-control" id="OwnerAddress" placeholder="Owner Address" disabled />
                                                    </div>
                                                </div>


                                                <div class="col-lg-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner Website:</label>
                                                        <input type="text" class="form-control" id="OwnerWebsite" placeholder="Owner Website" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner AdminContact:</label>
                                                        <input type="text" class="form-control" id="OwnerAdminContact" placeholder="Owner AdminContact" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner AdminContactEmail:</label>
                                                        <input type="text" class="form-control" id="OwnerAdminContactEmail" placeholder="Owner AdminContactEmail" disabled />
                                                    </div>
                                                </div>

                                              
                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner ContactNumber:</label>
                                                        <input type="text" class="form-control" id="OwnerContactNumber" placeholder="Owner ContactNumber" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Owner Domain:</label>
                                                        <input type="text" class="form-control" id="OwnerDomain" placeholder="Owner Domain" disabled />
                                                    </div>
                                                </div>

                                                @*<div class="col-sm-3" style="width: 63%;">
                <div class="form-horizontal">
                    <label class="col-xs-5 control-label">SecureKey:</label>
                    <input type="text" class="form-control" id="SecureKey" placeholder="SecureKey" />
                </div>
            </div>*@


                                                <div class="form-group">
                                                    <input type="hidden" id="ID" class="form-control" />
                                                </div>

                                            </div>

                                        </div>
                                        @*////////////////////////////////*@


                                        <div class="card">
                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Name:</label>
                                                        <input type="text" class="form-control" id="Name" placeholder="Name" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Address:</label>
                                                        <input type="text" class="form-control" id="Address" placeholder="Address" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Website:</label>
                                                        <input type="text" class="form-control" id="Website" placeholder="Website" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" >
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">AdminContact:</label>
                                                        <input type="text" class="form-control" id="AdminContact" placeholder="AdminContact" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">AdminContactEmail:</label>
                                                        <input type="text" class="form-control" id="AdminContactEmail" placeholder="AdminContactEmail" disabled />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">ContactNumber:</label>
                                                        <input type="text" class="form-control" id="ContactNumber" placeholder="ContactNumber" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                        <label class="col-xs-5 control-label">Domain:</label>
                                                        <input type="text" class="form-control" id="Domain" placeholder="Domain" disabled />
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-3" style="width: 63%;">
                    <div class="form-horizontal">
                        <label class="col-xs-5 control-label">SecureKey:</label>
                        <input type="text" class="form-control" id="SecureKey" placeholder="SecureKey" />
                    </div>
                </div>*@


                                                <div class="form-group">
                                                    <input type="hidden" id="ID" class="form-control" />
                                                </div>

                                            </div>

                                        </div>


                                        <div class="modal-footer" style="width: 145%;">
                                            @*<button type="button" class="button1" id="btnNext" onclick="return SaveInitialShipValues();" style="width:86px;">Next</button>
            <button type="button" class="button1" id="btnAdd" onclick="return GetCompanyDetailsByID();" style="width:86px;">Get Details</button>*@
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            //$(".numberinput").forceNumeric();
            GetCompanyDetailsNew();
        });


    </script>
}

