<!DOCTYPE html>
<html lang="eng">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Worth</title>

    <link rel="icon" href="../img/mini_logo.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- themefy CSS -->
    <link rel="stylesheet" href="../vendors/themefy_icon/themify-icons.css" />

    <!-- font awesome CSS -->
    <link rel="stylesheet" href="../vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="../vendors/tagsinput/tagsinput.css" />

    <!-- menu css  -->
    <link rel="stylesheet" href="../css/metisMenu.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

    <!-- jquery -->







</head>
<body class="crm_body_bg">
    <!-- main content part here -->
    <!-- sidebar  -->
    <nav class="sidebar dark_sidebar">
        <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="#"><img src="../img/logo_Worth.png" alt=""></a>
            <a class="small_logo" href="#"><img src="../img/logo_Worth_mini.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/health.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Crew Management</span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    <li><a href="@Url.Action("AddEditCrew", "AddCrew" )">Add Crew</a></li>
                    <li><a href="@Url.Action("CrewListNew", "CrewList" )">Crew List</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/health.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Well Being </span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    <li><a href="@Url.Action("WellBeingHealth", "WellBeing" )">Health</a></li>
                    <li><a href="@Url.Action("WellBeingMentalHealth", "WellBeing" )">Mental Health</a></li>
                    <li><a href="@Url.Action("WellBeingWorkAndRestHours", "WellBeing" )">Work And Rest Hours</a></li>
                    @*<li><a href="@Url.Action("CrewListNew", "CrewList" )">Health Tips</a></li>*@
                    <li class="">
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <div class="nav_title">
                                <span>Health Tips</span>
                            </div>
                        </a>
                        <ul class="menu_Sub">
                            <li><a href="@Url.Action("Adviceforsafesex", "HeathTips" )">Advice for safe sex</a></li>
                            <li><a href="@Url.Action("Adviseforsafetravel", "HeathTips" )">Advise for safe travel</a></li>
                            <li><a href="@Url.Action("Maintainingahealthyweightonboard", "HeathTips" )">Healthy weight onboard</a></li>
                            <li><a href="@Url.Action("Maintainingdentalhygiene", "HeathTips" )">Maintaining dental hygiene</a></li>
                            <li><a href="@Url.Action("Maintainingfitnessonboard", "HeathTips" )">Maintaining fitness onboard</a></li>
                            <li><a href="@Url.Action("Maintainingmentalwellbeing", "HeathTips" )">Maintaining mental well being</a></li>
                            <li><a href="@Url.Action("Malariaprevention", "HeathTips" )">Malaria prevention</a></li>
                            <li><a href="@Url.Action("Protectingyourskinonboard", "HeathTips" )">Protecting your skin onboard</a></li>
                        </ul>
                    </li>
                    @*<li><a href="@Url.Action("AddEditCrew", "AddCrew" )">Food And Nutrition</a></li>*@
                    <li class="">
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <div class="nav_title">
                                <span>Food And Nutrition</span>
                            </div>
                        </a>
                        <ul class="menu_Sub">
                            <li><a href="@Url.Action("Foodsafetyonboard", "HeathTips" )">Food safety onboard</a></li>
                            <li><a href="@Url.Action("Maintainingahealthydietonboard", "HeathTips" )">Healthy diet onboard</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/MedicalAssistance.jpg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Medical Assistance</span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    <li><a href="@Url.Action("TeleMedicine", "MedicalAssistance" )">Tele Medicine</a></li>
                    <li><a href="@Url.Action("DoctorVisit", "MedicalAssistance" )">Doctor Visit</a></li>
                    <li><a href="@Url.Action("CIRM", "MedicalAssistance" )">CIRM</a></li>
                    <li><a href="@Url.Action("MediVac", "MedicalAssistance" )">Medi Vac</a></li>
                    <li><a href="@Url.Action("MedicalAdvice", "MedicalAssistance" )">Medical Advise</a></li>
                </ul>
            </li>


            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/MedicalChest.jpg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Medical Chest</span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    <li><a href="@Url.Action("Index2", "Equipments" )">Medicine</a></li>
                    <li><a href="@Url.Action("Index", "Equipments" )">Medical Equipment</a></li>
                    @*<li><a href="@Url.Action("MedicalChestCertificate", "Equipments" )">Medical Chest Certificate</a></li>*@
                    <li><a href="@Url.Action("MedicalChestCertificate", "MedicalChest" )">Medical Chest Certificate</a></li>
                </ul>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "Regime" )" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Regime.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Regime</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Options" )" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Time.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Time Adjustment</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Regime.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Report</span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                    {
                        @*
                    <li><a href='@Url.Action("Index", "Reports")'>Monthly Work Hours</a></li>*@
                        <li><a href='@Url.Action("DailyCrewReport", "Reports")'>Day Wise Crew Work Hours</a></li>
                        <li><a href='@Url.Action("CrewList", "Reports")'>Crew List</a></li>
                        @*
                    <li><a href='@Url.Action("WorkAndRestHours", "Reports")'>Work And Rest Hours</a></li>*@
                        <li><a href='@Url.Action("MonthlyView", "ReportsNCReportByMonth")'>Monthly View</a></li>
                        @*
                    <li><a href='@Url.Action("CrewList", "Reports")'>Crew Report List </a></li>*@
                    }
                    <li><a href='@Url.Action("Index", "Reports")'>Monthly Work Hours</a></li>
                    <li><a href='@Url.Action("WorkAndRestHours", "Reports")'>Compliance Report</a></li>
                    <li><a href='@Url.Action("ReportDailyTemperature", "CrewHealth")'>Crew Temperature Report</a></li>
                </ul>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Plans" )" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Regime.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Plan</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("VesselDetails", "CrewHealth" )" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Vessel.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Vessel</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "CompanyDetails" )" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Production.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Company Details</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="../img/menu-icon/icon_Gear.png" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Settings</span>
                    </div>
                </a>
                <ul class="menu_Sub">
                    <li><a href='@Url.Action("IndexIn", "MailServerDetails")'>Settings</a></li>
                    <li><a href='@Url.Action("Index", "OvertimeCalculation")'>Set Overtime</a></li>
                </ul>
            </li>


        </ul>
    </nav>
    <!--/ sidebar  -->


    <section class="main_content dashboard_part large_header_bg" id="content_Part">
        <!-- menu  -->
        <div class="container-fluid no-gutters">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="head-position">
                        <div class="header_iner d-flex justify-content-between align-items-center">
                            <div class="sidebar_icon d-lg-none">
                                <i class="ti-menu"></i>
                            </div>
                            <div class="line_icon open_miniSide d-none d-lg-block">
                                <img src="../img/line_img.png" alt="">
                            </div>
                            <div class="header_right d-flex justify-content-between align-items-center">
                                <div class="header_notification_warp d-flex align-items-center">
                                    <li>
                                        <a class="" href="#"> <img src="../img/icon/question_icon.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a class="" href="#"> <img src="../img/icon/ticket_icon.png" class="ticketIcon" alt=""></a>
                                    </li>
                                    <li>
                                        <a class="bell_notification_clicker nav-link-notify" href="#">
                                            <img src="../img/icon/bell.svg" alt="">
                                            <!-- <span>2</span> -->
                                        </a>
                                        <!-- Menu_NOtification_Wrap  -->
                                        <!--/ Menu_NOtification_Wrap  -->
                                    </li>

                                </div>
                                <div class="profile_info d-flex align-items-center">
                                    <div class="profile_thumb mr_20">
                                        <img src="../img/transfer/user_Worth.png" alt="#">
                                    </div>
                                    <div class="author_name">
                                        <h4 class="f_s_15 f_w_500 mb-0">User name</h4>
                                        <p class="f_s_12 f_w_400">Admin</p>
                                    </div>
                                    <div class="profile_info_iner">
                                        <!-- <div class="profile_author_name">
                        <p>Manager</p>
                        <h5>Jiue Anderson</h5>
                    </div> -->
                                        <div class="profile_info_details">
                                            <a href="#">My Profile </a>
                                            <a href="#">Settings</a>
                                            <a href="@Url.Action("Index", "Login")" onclick="alert('You are successfully logged off');">Log Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_content_iner overly_inner">
            <div class="container-fluid p-0 ">
                @RenderBody()
            </div>
        </div>
    </section>

    <!-- footer  -->
    <!--  <script src="../js/jquery-3.4.1.min.js"></script>  -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <!-- bootstarp js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- sidebar menu  -->
    <script src="../js/metisMenu.js"></script>

    <!-- custom js -->
    <script src="../js/dashboard_init.js"></script>
    <script src="../js/custom.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $("#content_Part").click(function () {
            $("#sidebar_menu li").removeClass('mm-active');
            $("#sidebar_menu li ul.mm-collapse").removeClass('mm-show');
        });

    </script>
</body>
</html>
