<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RestHour</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font Awesome -->
    <!-- Font Awesome -->


    <link rel="stylesheet" href="~/laycss/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/link/css/layout.css">


    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/src/jquery.image-marker.js"></script>
    <script src="../src/jquery.image-marker.js"></script>
    <link rel="stylesheet" type="text/css" href="../src/jquery.image-marker.css">*@


    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/Ranks.js"></script>
    <script src="~/Scripts/CrewList.js"></script>
    @*<link rel="stylesheet" href="~/link/css/styles.css">
        <script src="~/link/css/script.js"></script>*@
    <style>
    </style>

</head>

<body class="hold-transition ">


    <div class="clearfix"></div>

    <div class="">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div class="col-md-4 ad" style="padding:0;"><img src="~/images/admin.png" width="83%"></div>
                    <div class="col-md-4" style="padding:0;">
                        <P class="weco">
                            Welcome
                            <span>
                                @System.Web.HttpContext.Current.Session["FirstName"].ToString()   @System.Web.HttpContext.Current.Session["LastName"]
                            </span>
                        </P>
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">



                    <!-- Optionally, you can add icons to the links -->
                    @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()))
                    {
                        <li class=""><a href="@Url.Action("NCReportByMonth", "ReportsNCReportByMonth")">Home</a></li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Well Being<i class="fa fa-angle-down" style="padding: 0 10px;"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Crew Health<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("UploadJoiningMedical", "CrewHealth")" style="border:none;">Upload Joining Medical</a></li>
                                        <li><a href="@Url.Action("JoiningMedicalReport", "CrewHealth")" style="border:none;">Joining Medical Report</a></li>
                                        <li><a href="@Url.Action("MonthlyMedicalAdvisory", "CrewHealth")" style="border:none;">Monthly Medical Data</a></li>
                                        <li><a href="@Url.Action("MedicalHistory", "CrewHealth")" style="border:none;">Medical History</a></li>
                                        <li><a href="@Url.Action("MedicalTreatment", "CrewHealth")" style="border:none;">CIRM</a></li>
                                        <li><a href="@Url.Action("MailCIRM", "CrewHealth")" style="border:none;">Mail CIRM</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Health Management<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("StressManagement", "HealthManagement")" style="border:none;">Stress Management</a></li>
                                        <li class="dropdown">
                                            <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Health Tips<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                            <ul class="dropdown-menu" role="menu" style="left: 203px; top: 14px;">
                                                <li><a href="@Url.Action("Adviceforsafesex", "HeathTips")" style="border:none;">Advice for safe sex</a></li>
                                                <li><a href="@Url.Action("Adviseforsafetravel", "HeathTips")" style="border:none;">Advise for safe travel</a></li>
                                                <li><a href="@Url.Action("Foodsafetyonboard", "HeathTips")" style="border:none;">Food safety on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthydietonboard", "HeathTips")" style="border:none;">Maintaining a healthy diet on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthyweightonboard", "HeathTips")" style="border:none;">Maintaining a healthy weight on board</a></li>
                                                <li><a href="@Url.Action("Maintainingdentalhygiene", "HeathTips")" style="border:none;">Maintaining dental hygiene</a></li>
                                                <li><a href="@Url.Action("Maintainingfitnessonboard", "HeathTips")" style="border:none;">Maintaining fitness on board</a></li>
                                                <li><a href="@Url.Action("Maintainingmentalwellbeing", "HeathTips")" style="border:none;">Maintaining mental well being</a></li>
                                                <li><a href="@Url.Action("Malariaprevention", "HeathTips")" style="border:none;">Malaria prevention</a></li>
                                                <li><a href="@Url.Action("Protectingyourskinonboard", "HeathTips")" style="border:none;">Protecting your skin on board</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown">
                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Medical Consultants <i class="fa fa-angle-right" style="margin-left:20px;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                            <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>
                            <li><a href="@Url.Action("IndexNew", "Consultant")" style="border:none;">Health Management</a></li>
                        </ul>
                    </li>*@

                                <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>



                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Medical Inventory<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("Index2", "Equipments")" style="border:none;">Medicine Inventory</a></li>
                                        <li><a href="@Url.Action("Index", "Equipments")" style="border:none;">Medical Equipment</a></li>
                                    </ul>
                                </li>


                                @*<li><a href="@Url.Action("Index", "UploadMedicalInventory")" style="border:none;">Upload Medical Inventory</a></li>*@

                            </ul>
                        </li>


                        @*<li><a href="@Url.Action("Index", "Vessel")"><i class="fa fa-edit"></i><span> Vessel</span> </a></li>*@
                        @*<li><a href='@Url.Action("Index", "Regime")'><i class="fa fa-link"></i><span>Regime</span></a></li>*@

                        <li>

                            @*<a href="#">
                    <i class="fa fa-desktop"></i> <span> Manage Ranks & Crew</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>*@

                            <ul class="dropdown-menu">
                                @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()))
                                {
                                    @*<li><a href='@Url.Action("Index", "Groups")'>Manage Permissions Groups</a></li>*@

                                }
                                @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                {
                                    @*<li><a href='@Url.Action("Index", "RankPermission")'>Add Ranks To Permissions</a></li>*@
                                    @*<li><a href='@Url.Action("Index", "CreateNewUserAccount")'>Create New User Account</a></li>*@




                                }


                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<i class="fa fa-angle-down" style="padding: 0 10px;"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                {
                                    <li class="dropdown">
                                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Crew Management<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                            <li><a href='@Url.Action("Index", "AddCrew")'> Crew</a></li>
                                            <li><a href='@Url.Action("CrewListNew", "CrewList")'>Crew List</a></li>
                                            <li><a href="@Url.Action("Index", "CrewImport")">Crew Import</a></li>
                                            @*<li><a href="@Url.Action("ServiceTerm", "AddCrew")">Service Terms</a></li>*@
                                            <li><a href="@Url.Action("CrewServiceTerms", "CrewHealth")">Service Terms</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("index", "Department")" style="border:none;">Department</a></li>
                                    @*<li><a href="@Url.Action("DepartmentMaster", "Department")" style="border:none;">Add Department</a></li>*@

                                    <li><a href='@Url.Action("Index", "Ranks")'> Rank</a></li>
                                    <li><a href='@Url.Action("Index", "Regime")'>Regime</a></li>


                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Settings <i class="fa fa-angle-right" style="margin-left:90px;"></i>@*<span class="caret"></span>*@</a>
                                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                            <li><a href="@Url.Action("IndexIn", "MailServerDetails")" style="border:none;">Mail Server</a></li>
                                            <li><a href='@Url.Action("ResetPassword", "Login")'>Reset Password</a></li>
                                        </ul>
                                    </li>

                                    <li><a href='@Url.Action("Index", "Options")'>Time Adjustment</a></li>
                                    <li><a href='@Url.Action("Index", "Vessel")'> Vessel</a></li>
                                    <li><a href='@Url.Action("Index", "CompanyDetails")'> Company Details</a></li>

                                }
                                @*<li><a href='@Url.Action("Index", "RankPermission")'>Add Ranks To Permissions</a></li>*@
                                @*<li><a href='@Url.Action("CrewTimeSheet", "TimeSheet")'>Crew Timesheet</a></li>*@


                            </ul>
                        </li>
                    }
                    <!-- Optionally, you can add icons to the links -->
                    @if (Convert.ToBoolean(Session["Admin"].ToString()))
                    {
                        <li class=""><a href="@Url.Action("NCReportByMonth", "ReportsNCReportByMonth")"> Home</a></li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Well Being<i class="fa fa-angle-down" style="padding: 0 10px;"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Crew Health<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("UploadJoiningMedical", "CrewHealth")" style="border:none;">Upload Joining Medical</a></li>
                                        <li><a href="@Url.Action("JoiningMedicalReport", "CrewHealth")" style="border:none;">Joining Medical Report</a></li>
                                        <li><a href="@Url.Action("MonthlyMedicalAdvisory", "CrewHealth")" style="border:none;">Monthly Medical Data</a></li>
                                        <li><a href="@Url.Action("MedicalHistory", "CrewHealth")" style="border:none;">Medical History</a></li>
                                        <li><a href="@Url.Action("MedicalTreatment", "CrewHealth")" style="border:none;">CIRM</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Health Management<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("StressManagement", "HealthManagement")" style="border:none;">Stress Management</a></li>
                                        <li class="dropdown">
                                            <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Health Tips<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                            <ul class="dropdown-menu" role="menu" style="left: 203px; top: 14px;">
                                                <li><a href="@Url.Action("Adviceforsafesex", "HeathTips")" style="border:none;">Advice for safe sex</a></li>
                                                <li><a href="@Url.Action("Adviseforsafetravel", "HeathTips")" style="border:none;">Advise for safe travel</a></li>
                                                <li><a href="@Url.Action("Foodsafetyonboard", "HeathTips")" style="border:none;">Food safety on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthydietonboard", "HeathTips")" style="border:none;">Maintaining a healthy diet on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthyweightonboard", "HeathTips")" style="border:none;">Maintaining a healthy weight on board</a></li>
                                                <li><a href="@Url.Action("Maintainingdentalhygiene", "HeathTips")" style="border:none;">Maintaining dental hygiene</a></li>
                                                <li><a href="@Url.Action("Maintainingfitnessonboard", "HeathTips")" style="border:none;">Maintaining fitness on board</a></li>
                                                <li><a href="@Url.Action("Maintainingmentalwellbeing", "HeathTips")" style="border:none;">Maintaining mental well being</a></li>
                                                <li><a href="@Url.Action("Malariaprevention", "HeathTips")" style="border:none;">Malaria prevention</a></li>
                                                <li><a href="@Url.Action("Protectingyourskinonboard", "HeathTips")" style="border:none;">Protecting your skin on board</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown">
                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Medical Consultants <i class="fa fa-angle-right" style="margin-left:20px;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                            <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>
                            <li><a href="@Url.Action("IndexNew", "Consultant")" style="border:none;">Health Management</a></li>
                        </ul>
                    </li>*@

                                <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>



                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Medical Inventory<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("Index2", "Equipments")" style="border:none;">Medicine Inventory</a></li>
                                        <li><a href="@Url.Action("Index", "Equipments")" style="border:none;">Medical Equipment</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<i class="fa fa-angle-down" style="padding: 0 10px;"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                {


                                    <li class="dropdown">
                                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Crew Management<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                            <li><a tabindex="-1" href='@Url.Action("Index", "AddCrew")'>Crew</a></li>
                                            <li><a tabindex="-1" href='@Url.Action("CrewListNew", "CrewList")'>Crew List</a></li>

                                        </ul>
                                    </li>


                                    <li><a href="@Url.Action("index", "Department")" style="border:none;">Department</a></li>
                                    <li><a href='@Url.Action("Index", "Ranks")'> Rank</a></li>
                                    <li><a href='@Url.Action("Index", "Regime")'>Regime</a></li>


                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Settings<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                            @*<li><a href="@Url.Action("IndexIn", "MailServerDetails")" style="border:none;">Mail Server</a></li>*@
                                            <li><a href='@Url.Action("ResetPassword", "Login")'>Reset Password</a></li>
                                        </ul>
                                    </li>

                                    @*<li><a href='@Url.Action("Index", "AddCrew")'> Crew</a></li>*@
                                    @*<li><a href='@Url.Action("CrewListNew", "CrewList")'>Crew List</a></li>*@
                                    <li><a href='@Url.Action("Index", "Options")'>Time Adjustment</a></li>
                                    <li><a href='@Url.Action("Index", "Vessel")'> Vessel</a></li>

                                }


                                @*<li><a href='@Url.Action("CrewTimeSheet", "TimeSheet")'>Crew Timesheet</a></li>*@

                                @*<li><a href='@Url.Action("Index", "RankPermission")'>Add Ranks To Permissions</a></li>*@

                                @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                {

                                }







                            </ul>
                        </li>

                    }
                    <!-- Optionally, you can add icons to the links -->
                    @if (Convert.ToBoolean(Session["User"].ToString()))
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Well Being<i class="fa fa-angle-down" style="padding: 0 10px;"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Crew Health<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">

                                        <li><a href="@Url.Action("JoiningMedicalReport", "CrewHealth")" style="border:none;">Joining Medical Report</a></li>
                                        <li><a href="@Url.Action("MonthlyMedicalAdvisory", "CrewHealth")" style="border:none;">Monthly Medical Data</a></li>
                                        <li><a href="@Url.Action("MedicalHistory", "CrewHealth")" style="border:none;">Medical History</a></li>
                                        <li><a href="@Url.Action("MedicalTreatment", "CrewHealth")" style="border:none;">CIRM</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Health Management<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("StressManagement", "HealthManagement")" style="border:none;">Stress Management</a></li>
                                        <li class="dropdown">
                                            <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Health Tips<i class="fa fa-angle-right" style="margin-left:20px;"></i></a>
                                            <ul class="dropdown-menu" role="menu" style="left: 203px; top: 14px;">
                                                <li><a href="@Url.Action("Adviceforsafesex", "HeathTips")" style="border:none;">Advice for safe sex</a></li>
                                                <li><a href="@Url.Action("Adviseforsafetravel", "HeathTips")" style="border:none;">Advise for safe travel</a></li>
                                                <li><a href="@Url.Action("Foodsafetyonboard", "HeathTips")" style="border:none;">Food safety on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthydietonboard", "HeathTips")" style="border:none;">Maintaining a healthy diet on board</a></li>
                                                <li><a href="@Url.Action("Maintainingahealthyweightonboard", "HeathTips")" style="border:none;">Maintaining a healthy weight on board</a></li>
                                                <li><a href="@Url.Action("Maintainingdentalhygiene", "HeathTips")" style="border:none;">Maintaining dental hygiene</a></li>
                                                <li><a href="@Url.Action("Maintainingfitnessonboard", "HeathTips")" style="border:none;">Maintaining fitness on board</a></li>
                                                <li><a href="@Url.Action("Maintainingmentalwellbeing", "HeathTips")" style="border:none;">Maintaining mental well being</a></li>
                                                <li><a href="@Url.Action("Malariaprevention", "HeathTips")" style="border:none;">Malaria prevention</a></li>
                                                <li><a href="@Url.Action("Protectingyourskinonboard", "HeathTips")" style="border:none;">Protecting your skin on board</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown">
                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Medical Consultants <i class="fa fa-angle-right" style="margin-left:20px;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                            <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>
                            <li><a href="@Url.Action("IndexNew", "Consultant")" style="border:none;">Health Management</a></li>
                        </ul>
                    </li>*@

                                <li><a href="@Url.Action("Index", "Consultant")" style="border:none;">Medical Consultant</a></li>



                                <li class="dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Medical Inventory<i class="fa fa-angle-right" style="margin-left:20px;"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="left: 252px;top: -3px;">
                                        <li><a href="@Url.Action("Index2", "Equipments")" style="border:none;">Medicine Inventory</a></li>
                                        <li><a href="@Url.Action("Index", "Equipments")" style="border:none;">Medical Equipment</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    On Board Facilities<i class="fa fa-angle-down" style="margin-left:20px;"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Index", "Equipments")" style="border:none;">Equipments</a></li>
                    <li><a href="@Url.Action("Index2", "Equipments")" style="border:none;">Medicine</a></li>
                </ul>
            </li>*@

                        @*<li class=""><a href="@Url.Action("Index", "Home")"> <i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>*@
                        <li><a href="@Url.Action("Index", "Vessel")"> Vessel </a></li>
                        <li><a href='@Url.Action("ResetPassword", "Login")'>Reset Password</a></li>







                        @*<li><a href='@Url.Action("Index", "Regime")'><i class="fa fa-link"></i><span>Regime</span></a></li>*@
                    }

                    @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                    {
                        <li class=""><a href="@Url.Action("Index", "TimeSheet")">Crew Time Sheet</a></li>
                    }
                    else
                    {
                        <li class=""><a href="@Url.Action("CrewTimeSheet", "TimeSheet")">Crew Time Sheet</a></li>
                    }



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Reports<i class="fa fa-angle-down" style="padding: 0 10px;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">


                            @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                            {

                                @*<li><a href='@Url.Action("Index", "Reports")'>Monthly Work Hours</a></li>*@
                                <li><a href='@Url.Action("DailyCrewReport", "Reports")'>Day Wise Crew Work Hours</a></li>
                                <li><a href='@Url.Action("CrewList", "Reports")'>IMO Crew List</a></li>
                                @*<li><a href='@Url.Action("WorkAndRestHours", "Reports")'>Work And Rest Hours</a></li>*@
                                <li><a href='@Url.Action("MonthlyView", "ReportsNCReportByMonth")'>Monthly View</a></li>



                                @*<li><a href='@Url.Action("CrewList", "Reports")'>Crew Report List </a></li>*@
                            }
                            <li><a href='@Url.Action("Index", "Reports")'>Monthly Work Hours</a></li>
                            <li><a href='@Url.Action("WorkAndRestHours", "Reports")'>Compliance Report</a></li>

                        </ul>
                    </li>


                    <li class=""><a href='@Url.Action("Index", "About")'>xyzzz1</a></li>
                    <li class=""><a href='@Url.Action("Index", "About")'>xyzzz2</a></li>
                    <li class=""><a href='@Url.Action("Index", "About")'>About</a></li>
                    <li class=""><a href='@Url.Action("index", "help")' style="border:none !important;">Help</a></li>





                </ul>

            </div><!-- /.nav-collapse -->
        </nav>
    </div>

    @*<button class="button log">@Html.Partial("_LoginPartial")</button>*@
    <button class="button log" onclick="location.href='@Url.Action("Index", "Login")';return false;">Log Off</button>

    @*<button class="button log1" style="float: right;right: 164px;">About</button>
        <button class="button log1" style="float: right;">Help</button>*@
    <p class="log1" style="width: 541px;"> © 2018,Tech-innology Pte. Ltd. All rights are reserved</p>
    <div class="wrapper">
        <!-- Main Header -->
        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content container-fluid">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">

            </div>
            <!-- Default to the left -->

        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/multiselect")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/typeahead")
    @RenderSection("scripts", required: false)



    <!-- Bootstrap -->
    @*<script src="~/links/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- FastClick -->
    <!-- Custom Theme Scripts -->


</body>




<!-- Bootstrap 3.3.7 -->
<!-- AdminLTE App -->
@*<script>

        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                    $(this).toggleClass('open');
                }
            );



            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

        });
    </script>*@
<script>

    $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass("show");
        });


        return false;
    });

    $.ajaxSetup({
        statusCode: {
            403: function () {
                window.location.reload();
            }
        }
    });



</script>



<script src="~/link/js/adminlte.min.js"></script>
</html>
