
@{
    ViewBag.Title = "ROSENBERG_SELF_esteem_scale_final";
}


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/PsychologicalEvaluation.js"></script>
@Html.Hidden("SaveForms", @Url.Action("SaveForms", "PsychologicalEvaluation"))
<form id="myForm1">

    <div class="row">
        @*<div class="head_title">
                <h1 class="ta">Page Name</h1>
            </div>*@
        <div class="card bacmt" style="height: 600px;">
            <div class="clearfix"></div>
            <div class="row">


                <section id="print-content">
                    <input type="button" onclick="printDiv('print-content')" value="print a div!" />



                    <p style="margin-left:112.45pt;margin-right:0pt;margin-top:0.9500000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Century Schoolbook;font-size:18pt;letter-spacing:-0.05pt;">ROSENBERG</span>
                        <span style="font-family:Century Schoolbook;font-size:18pt;"> SELF-ESTEEM</span>
                        <span style="font-family:Century Schoolbook;font-size:18pt;letter-spacing:-0.1pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:18pt;">SCALE</span>
                    </p>
                    <h1 style="margin-left:40.95pt;margin-right:384.90000000000003pt;mso-line-height-alt:26.5pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;mso-outline-level:1;">
                        <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:-0.05pt;">Scale:</span>
                        <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:1pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:-0.05pt;">Instructions</span>
                    </h1>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">Below</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">is</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">list</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">statements</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">dealing</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">your</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">general</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feelings</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">about</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">yourself.</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:2.5pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">Please</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:1.5pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">indicate</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">how</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">strongly</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">you</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">agree</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">or</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">disagree</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">each</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">statement. </span>
                    </p>



                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q1">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">1. On</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">the</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">whole,</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">satisfied</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">myself. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:163px" />
                            <col style="width:159px" />
                            <col style="width:162px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Strongly</span>
                                    <span style="font-family:Century Schoolbook;font-size:11pt;letter-spacing:-0.8pt;"> </span>
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="1_1" name="q1" value="1_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="1_2" name="q1" value="1_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="1_3" name="q1" value="1_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="1_4" name="q1" value="1_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q2">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">#2. At</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">times</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">think</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">not</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">good</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">all. &nbsp; &nbsp;</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="2_1" name="q2" value="2_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Agree</span>
                                    <span>
                                        <input type="radio" id="
                                              " name="q2" value="2_2">
                                    </span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="2_3" name="q2" value="2_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="2_4" name="q2" value="2_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q3">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">3. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">number</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">good</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">qualities.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="3_1" name="q3" value="3_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="3_2" name="q3" value="3_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="3_3" name="q3" value="3_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="3_4" name="q3" value="3_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q4">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">4. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">able</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">do</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">things</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">as</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">well</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">as</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">most</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">other</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">people.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="4_1" name="q4" value="4_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="4_2" name="q4" value="4_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="4_3" name="q4" value="4_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="4_4" name="q4" value="4_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q5">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">#5. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">do</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">not</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">much</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">be</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">proud</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">of.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="5_1" name="q5" value="5_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="5_2" name="q5" value="5_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="5_3" name="q5" value="5_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="5_4" name="q5" value="5_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q6">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">#6. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">certainly</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">useless</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.4pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">times. </span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="6_1" name="q6" value="6_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="6_2" name="q6" value="6_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="6_3" name="q6" value="6_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="6_4" name="q6" value="6_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q7">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">7. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">I'm</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">person</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">worth,</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">least</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">on</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">an</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">equal</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">plane</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">others</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="7_1" name="q7" value="7_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="7_2" name="q7" value="7_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="7_3" name="q7" value="7_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="7_4" name="q7" value="7_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q8">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">#8. I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">wish</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">could</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">more</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">respect</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">for</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">myself.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="8_1" name="q8" value="8_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="8_2" name="q8" value="8_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="8_3" name="q8" value="8_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="8_4" name="q8" value="8_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q9">
                        <span style="font-family:Century Schoolbook;font-size:10pt;">#9. All</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">in</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">all,</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">inclined</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">failure.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="9_1" name="q9" value="9_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="9_2" name="q9" value="9_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="9_3" name="q9" value="9_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="9_4" name="q9" value="9_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;" id="q10">
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">10. </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">take</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">positive</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">attitude</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">toward</span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                        <span style="font-family:Century Schoolbook;font-size:10pt;">myself.</span>
                    </p>
                    <table style="border-collapse:collapse;margin-left:40.95pt;">
                        <colgroup>
                            <col style="width:162px" />
                            <col style="width:159px" />
                            <col style="width:163px" span="2" />
                        </colgroup>
                        <tr>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    <span> <input type="radio" id="10_1" name="q10" value="10_1"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    <span> <input type="radio" id="10_2" name="q10" value="10_2"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    <span> <input type="radio" id="10_3" name="q10" value="10_3"></span>
                                </p>
                            </td>
                            <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                    <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    <span> <input type="radio" id="10_4" name="q10" value="10_4"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                        <span>&nbsp;</span>
                    </p>
                    @*<p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:14pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Century Schoolbook;font-size:14pt;font-weight: bold;">Scoring</span>
                        </p>
                        <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span>&nbsp;</span>
                        </p>
                        <table style="border-collapse:collapse;margin-left:40.95pt;">
                            <colgroup>
                                <col style="width:162px" />
                                <col style="width:159px" />
                                <col style="width:163px" span="2" />
                            </colgroup>
                            <tr>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">4</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">3</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">2</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">1</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Century Schoolbook;font-size:11pt;">But item numbers 2</span>
                            <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;">, 5, 6, 8, 9 are </span>
                            <span style="font-family:Century Schoolbook;font-size:11pt;">to be scored in reverse order</span>
                        </p>
                        <table style="border-collapse:collapse;margin-left:40.95pt;">
                            <colgroup>
                                <col style="width:162px" />
                                <col style="width:159px" />
                                <col style="width:163px" span="2" />
                            </colgroup>
                            <tr>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">1</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">2</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">3</span>
                                    </p>
                                </td>
                                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                                    <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                        <span style="font-family:Century Schoolbook;font-size:11pt;">4</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                            <span style="font-family:Century Schoolbook;font-size:11pt;">Find out total score for all items. Keep scores on a continuous scale. Higher score indicate higher self esteem</span>
                        </p>*@
                </section>




                <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                    <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveForms('stpSaveROSENBERG_SELF_Esteem_scale_final', '6');">Save And Next</button>
                </div>

            </div>
        </div>
    </div>

</form>




@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            //SetUpGrid();

        });





        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            w = window.open();
            w.document.write(printContents);
            w.print();
            w.close();
        }




    </script>

}
