@model TM.RestHour.Models.LoginModel

@{
	Layout = null;
}

@{
	ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/link/css/rank.css" rel="stylesheet" />

<script src="~/Scripts/Login.js"></script>
<style>
	.button1 {
		position: relative;
		background-color: #22BAA0;
		border: none;
		font-size: 13px;
		color: #FFFFFF;
		padding: 8px;
		width: 199px;
	}

	.bac {
		border-radius: 0;
		padding: 18px;
		background: #fff;
		margin: 0 -29px;
		border-radius: 6px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		height: 440px;
	}




	body {
		width: 100%;
		font-family: 'Open Sans',sans-serif;
		background: #ccc;
		color: #4E5E6A;
	}

	.logo-name {
		display: block;
		font-size: 22px;
		font-weight: 700;
		text-decoration: none;
		color: #6c6c6c;
	}

	.page-content {
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		background: #f7f8f8;
		min-height: 100%;
	}

	.page-inner {
		padding: 0 0 50px;
		background: #F1F4F9;
		position: relative;
	}

	.center {
		margin: 0 auto;
		float: none !important;
	}

	.login-box {
		margin: auto;
		max-width: 400px;
		font-family: 'Open Sans', sans-serif;
	}

		.login-box .logo-name {
			display: block;
			font-size: 22px;
			font-weight: 500;
			text-decoration: none;
			color: #6c6c6c;
		}

	p {
		display: block;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 22px;
		margin: 0 0 10px;
		font-style: normal;
		white-space: normal;
	}

	button, input, optgroup, select, textarea {
		width: 100%;
		background: #fff;
		border-radius: 0;
		border: 1px solid #dce1e4;
		box-shadow: none !important;
		font-size: 13px;
		padding: 6px 10px !important;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.page-content {
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		background: #F1F4F9;
		min-height: 100%;
	}

	.btn-success {
		color: #fff;
		background-color: #22BAA0 !important;
		border-color: #22BAA0 !important;
	}

	.m-t-md {
		margin: 30px;
	}

	.divclass {
		background: #d61717;
		width: 252px;
		border-radius: 7px;
		padding: 7px;
		font-size: 16px;
		color: #fff;
		margin: 0 auto;
		text-align: center;
	}
</style>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken() // this is for prevent CSRF attack
	@Html.ValidationSummary(true)
	if (@ViewBag.Message != null)
	{

		<div class="divclass"><p style="margin:0;"><strong>  @ViewBag.Message</strong></p> </div>
	}


	<body class="page-login pace-done" style="background:#F1F4F9;">

		<div class="row" style="width:80%;">
			<div style="width:50%; float: left;" class="col-md-6">
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div>
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div style="margin-left: 620px; height:30%;" class="col-md-6 bac">
				<div class="">

					<div style="margin:0 auto" class="tablecontainer">
						@Html.Hidden("UpdateResetPassword", @Url.Action("UpdateResetPassword", "Login"))
						<input type="hidden" id="hdncount" />
						<input type="hidden" id="hdnrole" />
						<div class="">
							<form>
								<div class="form-group">
									<input type="hidden" id="ID" />
								</div>
								<h2 class="ta" style="color:#000;">Update Reset Password</h2>
								<div class="card">
									<a href="index.html" class="logo-name text-lg text-center">Username</a>
									<div class="col-md-4">
										<div class="form-group" style="width:50%;">
											@Html.TextBoxFor(a => a.Users.Username , new { @required  = "required"})
											@Html.ValidationMessageFor(a => a.Users.Username)
										</div>
										<div>
											&nbsp;
											&nbsp;
											&nbsp;
										</div>
										<input type="submit" class="btn btn-success" id="btnAdd" value="Update Password" style="width:130px; float: left;" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				@section Scripts
{
					@Scripts.Render("~/bundles/jqueryval")
					@Scripts.Render("~/bundles/jqueryui")
					@Styles.Render("~/Content/themes/base/css")


					<script type="text/javascript">
						$(document).ready(function () {

						});
					</script>
				}
			</div>
		</div>

	</body>



















}