@model TM.RestHour.Models.Equipments


@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/CrewListing.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>












<link href="dist/dual-listbox.css" rel="stylesheet">
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />







<link href="~/link/css/rank.css" rel="stylesheet" />

<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

<link href="~/Content/plugin/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/css/pickmeup.css" rel="stylesheet" />

<script src="~/Scripts/Equipments.js"></script>

<style>
    .bac {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
    }

    .bac1 {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
        height: 450px;
    }

    .card {
        display: inline-block;
        width: 100%;
        padding: 10px;
        margin: 0 0 19px 0;
    }
</style>

@Html.Hidden("SaveEquipments", @Url.Action("SaveEquipments", "Equipments"))
@Html.Hidden("loaddata", @Url.Action("LoadData", "Equipments"))
@Html.Hidden("GetMedicalEquipmentByID", @Url.Action("GetMedicalEquipmentByID", "Equipments"))
@Html.Hidden("DeleteEquipments", @Url.Action("DeleteEquipments", "Equipments"))

@Html.Hidden("loadDataPrint", @Url.Action("LoadDataPrint", "Equipments"))

<body>
    <div class="row">
        <div class="head_title">
            <h2 class="ta">Medical Equipment</h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Nationality">Country</label>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Category">Category</label>
                                    <select id="Category" style="width:100%;" class="form-control">
                                        <option value="">Select</option>
                                        <option value="CategoryA">Category A</option>
                                        <option value="CategoryB">Category B</option>
                                        <option value="CategoryC">Category C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NoOfCrew">NoOfCrew</label>
                                    <select id="NoOfCrew" style="width:100%;" class="form-control">
                                        <option value="">Select</option>
                                        <option value="10">≤ 10</option>
                                        <option value="20">≤ 20</option>
                                        <option value="30">≤ 30</option>
                                        <option value="40">≤ 40</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card marin">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="upload-file">
                                        @using (Html.BeginForm("Index", "Equipments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <span style="font-size:20px;">Select File:</span>
                                            <br />
                                            <br />
                                            <input type="file" name="postedFile" />
                                            @*<hr />*@

                                            <input type="submit" value="Upload" class="button1 upload-btn" />
                                            <br /><br />
                                            <span style="color:green">@ViewBag.Message</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="upload-file">
                                        <div class="box1">
                                            <img src="../img/excel-file-open.png" class="img-responsive" />
                                            @*<img src="~/background/excel.png" class="img-responsive" style="height:100%; width:100%;" />*@
                                        </div>
                                        <div class="export-template-label" style="display:inline-block;margin:4px 5px -8px 0px;">
                                            <a href="../EquipmentNew/EquipmentList.xlsx" class="downexcel" target="_self" download>
                                                Download Template
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="crew-div">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <ul class="bottom-pls">
                                            <li><a href="#"><i class="fa fa-file-excel" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-file-pdf" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="medi-add">
                                            <div class="form-group">
                                                <label>Search</label>
                                                </br>
                                                <input type="text" class="form-control">
                                                <a href="#" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin:0 auto" class="tablecontainer">
                                <!--   <button type="button" class="button1" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add Equipment</button><br /><br />-->
                                <input type="hidden" id="hdnrole" />
                                <table id="Equipmentstable" class="display medic-table1" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Equipment Name</th>
                                            <th>Required Quantity</th>
                                            <th>Unit</th>
                                            <th>OnBoardQuantity</th>
                                            <th>Location</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <button type="button" class="button1 downbtnt" style="width:auto" id="btnDownloadEquipment">Download Medical Equipment</button><br /><br />
                        </div>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="width: 500px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Add Equipment</h4>
                                    </div>
                                    <div class="modal-dialog" id="dvuserdetailsn" style="width: 400px;">
                                        <fieldset class="for-panel">

                                            @Html.Hidden("isSuperAdminUser", Session["SuperAdmin"].ToString())
                                            <input type="hidden" id="hdnrole" />
                                            @*@if (Session["SuperAdmin"].ToString() == "True")|| (Session["SuperAdmin"].ToString() == "True")*@
                                            @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                            {
                                                <div>
                                                    <form>
                                                        <div class="form-group">
                                                            <input type="hidden" id="EquipmentsID" />
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="card">

                                                                <div class="form-group">
                                                                    <label for="EquipmentsName">Equipments Name</label>
                                                                    <input type="text" class="form-control" id="EquipmentsName" placeholder="Equipments Name" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for=" Quantity">Quantity</label>
                                                                    <input type="number" class="form-control" id="Quantity" placeholder="Quantity" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Comment">Comment</label>
                                                                    <textarea class="form-control" id="Comment" cols="7" rows="2"></textarea>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Expiry Date">Expiry Date</label>
                                                                    <input type="text" class="form-control" id="ExpiryDate" placeholder="Expiry Date" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for=" Location">Location</label>
                                                                    <input type="text" class="form-control" id="Location" placeholder="Location" />
                                                                </div>

                                                                <button type="button" class="button1" id="btnAdd" onclick="return SaveEquipments();" style="width:138px;">Add</button>
                                                                <button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="SaveEquipments();">Update</button>
                                                                @*<button type="button" class="btn btn-default" data-dismiss="modal" style="width:86px;">Close</button>*@
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <form>
                                                        <div class="form-group">
                                                            <input type="hidden" id="EquipmentsID" />
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="card">

                                                                <div class="form-group">
                                                                    <label for="EquipmentsName">Equipments Name</label>
                                                                    <input type="text" class="form-control" id="EquipmentsrName" placeholder="Equipments Name" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for=" Quantity">Quantity</label>
                                                                    <input type="text" class="form-control" id="Quantity" placeholder="Quantity" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Comment">Comment</label>
                                                                    <textarea class="form-control" id="Comment" cols="7" rows="2"></textarea>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Expiry Date">Expiry Date</label>
                                                                    <input type="text" class="form-control" id="ExpiryDate" placeholder="Expiry Date" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for=" Location">Location</label>
                                                                    <input type="text" class="form-control" id="Location" placeholder="Location" />
                                                                </div>

                                                                @*<button type="button" class="button1" id="btnAdd" onclick="return AddEquipments();" style="width:138px;">Add</button>*@
                                                                <button type="button" class="buttonpop" id="btnAdd" onclick="return SaveEquipments();" style="width:138px;">Add</button>
                                                                <button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="SaveEquipments();">Update</button>
                                                                @*<button type="button" class="btn btn-default" data-dismiss="modal" style="width:86px;">Close</button>*@
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            }
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>







                    <div id="dvprint" style="display:none;">
                        @*<img src="~/companylogo/companylogo.png" />*@
                        Medical Equipment Report
                        <hr>
                        <table id="certtable_print" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th align="left">Equipment Name </th>
                                    <th align="left">Required Quantity</th>
                                    <th align="left">Unit </th>
                                    <th align="left">OnBoardQuantity</th>
                                    <th align="left">Location </th>
                                </tr>
                            </thead>
                        </table>

                    </div>









                </div>
            </div>


        @*<div class="col-md-7 bac">
                <div><input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" /></div>
            </div>*@




</div>
    </div>
</body>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            SetUpGrid();
            SetUpGridloadDataPrint();
        });




        $("#ExpiryDate").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });

        $('#txtUploadFile').on('change', function (e) {
            var files = e.target.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/MyController/UploadFile?id=' + myID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });



        $("#btnDownloadEquipment").click(function () {
            //PrintTest('');
            Popup('');
        });



    </script>

}
