@model TM.RestHour.Models.Crew


@{
    ViewBag.Title = "Index2";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/CrewListing.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>












<link href="dist/dual-listbox.css" rel="stylesheet">
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />







<link href="~/link/css/rank.css" rel="stylesheet" />

<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

<link href="~/Content/plugin/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/css/pickmeup.css" rel="stylesheet" />

<script src="~/Scripts/Equipments.js"></script>

@Html.Hidden("SaveMedicine", @Url.Action("SaveMedicine", "Equipments"))
@Html.Hidden("loaddata2", @Url.Action("LoadData2", "Equipments"))
@Html.Hidden("GetMedicineByID", @Url.Action("GetMedicineByID", "Equipments"))
@Html.Hidden("DeleteMedicine", @Url.Action("DeleteMedicine", "Equipments"))

@Html.Hidden("loadData2Print", @Url.Action("LoadData2Print", "Equipments"))

<style>
    .bac {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
    }

    .bac1 {
        border-radius: 0;
        padding: 18px;
        background: #fff;
        /* margin: 0 -29px; */
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin: 10px;
        height: 450px;
    }

    .card {
        display: inline-block;
        width: 100%;
    }
</style>

<body>
    <div class="">
        <div class="row">
            <div class="head_title">
                <h2 class="ta">Medicine Inventory</h2>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="Nationality">Country</label>
                            @Html.DropDownListFor(model => model.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryMaster, "Select", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Category">Category</label>
                            <select id="Category" style="width:100%;" class="form-control">
                                <option value="">Select</option>
                                <option value="CategoryA">Category A</option>
                                <option value="CategoryB">Category B</option>
                                <option value="CategoryC">Category C</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="NoOfCrew">NoOfCrew</label>
                            <select id="NoOfCrew" style="width:100%;" class="form-control">
                                <option value="">Select</option>
                                <option value="10">≤ 10</option>
                                <option value="20">≤ 20</option>
                                <option value="30">≤ 30</option>
                                <option value="40">≤ 40</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div style="margin:0 auto" class="tablecontainer">
                                <button type="button" class="button1" data-toggle="modal" data-target="#myModal" onclick="clearTextBox2();">Add Medicine</button><br /><br />

                                <input type="hidden" id="hdnrole" />
                                <table id="Medicinetable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Medicine Name</th>
                                            <th>QTY</th>
                                            <th>BatchNo</th>
                                            <th>Batch QTY</th>
                                            <th>Expiry Date</th>
                                            <th>Location</th>
                                            <th>Prescribed For</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                </table>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="width: 500px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Add Medicine</h4>
                                            </div>
                                            <div class="modal-dialog" id="dvuserdetailsn" style="width: 400px;">
                                                <fieldset class="for-panel">

                                                    @Html.Hidden("isSuperAdminUser", Session["SuperAdmin"].ToString())
                                                    <input type="hidden" id="hdnrole" />
                                                    @*@if (Session["SuperAdmin"].ToString() == "True")|| (Session["SuperAdmin"].ToString() == "True")*@
                                                    @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
                                                    {

                                                        <form>
                                                            <div class="form-group">
                                                                <input type="hidden" id="MedicineID" />
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="">

                                                                    <div class="form-group">
                                                                        <label for="MedicineName">Medicine Name</label>
                                                                        <input type="text" class="form-control" id="MedicineName" placeholder="Medicine Name" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=" Quantity">Quantity</label>
                                                                        <input type="number" class="form-control" id="Quantity" placeholder="Quantity" />
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="Expiry Date">Expiry Date</label>
                                                                        <input type="text" class="form-control" id="ExpiryDate" placeholder="Expiry Date" />
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for=" Location">Location</label>
                                                                        <input type="text" class="form-control" id="Location" placeholder="Location" />
                                                                    </div>

                                                                    <button type="button" class="button1" id="btnAdd" onclick="return SaveMedicine();" style="width:138px;">Add</button>
                                                                    <button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="SaveMedicine();">Update</button>

                                                                </div>
                                                            </div>
                                                        </form>

                                                    }
                                                    else
                                                    {

                                                        <form>
                                                            <div class="form-group">
                                                                <input type="hidden" id="MedicineID" />
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="card">

                                                                    <div class="form-group">
                                                                        <label for="MedicineName">Medicine Name</label>
                                                                        <input type="text" class="form-control" id="MedicineName" placeholder="Medicine Name" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=" Quantity">Quantity</label>
                                                                        <input type="number" class="form-control" id="Quantity" placeholder="Quantity" />
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="Expiry Date">Expiry Date</label>
                                                                        <input type="text" class="form-control" id="ExpiryDate" placeholder="Expiry Date" />
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for=" Location">Location</label>
                                                                        <input type="text" class="form-control" id="Location" placeholder="Location" />
                                                                    </div>

                                                                    @*<button type="button" class="button1" id="btnAdd" onclick="return AddEquipments();" style="width:138px;">Add</button>*@

                                                                    <button type="button" class="button1" id="btnAdd" onclick="return SaveMedicine();" style="width:138px;">Add</button>
                                                                    <button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="SaveMedicine();">Update</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    }
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button type="button" class="button1" style="width:auto" id="btnDownloadInventory">Download Medical Inventory</button><br /><br />
                            </div>
                        </div>
                    </div>



                    <div id="dvprint2" style="display:none;">
                        @*<img src="~/companylogo/companylogo.png" />*@
                        Medicine Inventory Report
                        <hr>
                        <table id="certtable_print2" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th align="left">Medicine Name</th>
                                    <th align="left">QTY</th>
                                    <th align="left">BatchNo</th>
                                    <th align="left">Batch QTY</th>
                                    <th align="left">Expiry Date</th>
                                    <th align="left">Location </th>
                                    <th align="left">Prescribed For </th>
                                </tr>
                            </thead>
                        </table>

                    </div>



                    @*<div class="col-md-7 bac">
                            <div><input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" /></div>
                        </div>*@


                    <div class="col-md-4">
                        <div class="card">

                            <div>
                                @using (Html.BeginForm("Index2", "Equipments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <span style="font-size:20px;">Select File:</span>
                                    <br />
                                    <input type="file" name="postedFile" />
                                    @*<hr />*@
                                    <br />
                                    <input type="submit" value="Upload" class="button1" />
                                    <br /><br />
                                    <span style="color:green">@ViewBag.Message</span>
                                }
                            </div>
                            <div class="">
                                <div class="box1">
                                    <img src="~/background/excel.png" class="img-responsive" style="height:25%; width:25%;" />
                                </div>
                                <div class="export-template-label" style="display:inline-block;margin:4px 5px -8px 0px;">
                                    <a href="../MedicineNew/MedicineList.xlsx" target="_self" download>
                                        <img src="#" alt="Download Template" style="float:left; width:160px;" class="button1">
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>



                </div>
            </div>


        </div>

    </div>

</body>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //alert('hi');

        $(document).ready(function () {

            SetUpGrid2();
            SetUpGridloadData2Print();

        });


        $("#ExpiryDate").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });


        $('#txtUploadFile').on('change', function (e) {
            var files = e.target.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/MyController/UploadFile?id=' + myID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });



        $("#btnDownloadInventory").click(function () {
            //PrintTest('');
            Popup2('');
        });



    </script>

}
