@model IEnumerable<TM.RestHour.Models.MedicalAdvise>
@{
    ViewBag.Title = "DoctorVisited";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<script src="~/Scripts/MedicalAdvise.js"></script>
<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="dist/dual-listbox.css" rel="stylesheet">

<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugin/datepicker/css/pickmeup.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@*<h2>DoctorVisited</h2>*@



<div class="">
    <div class="head_title">
        <h1 class="ta">Doctor Visited</h1>
        <input type="hidden" id="CIRMId" />
        <input type="hidden" id="hdnPageName" value="DoctorVisited" />
    </div>
    <div id="contentBody">
        <input type="button" value="Add Advises" class="btn btn-info btn-sm" data-toggle="modal" data-target="#uploadAdviseDetailsModal" />
        @if (Model.Count() > 0)
        {
            int i = 1;
            foreach (var item in Model)
            {
                <div class="newcard">
                    <div class="row">
                        <div class="col-lg-1">@i</div>
                        <div class="col-lg-10"><h4> @item.TestDate  </h4></div>
                        @if (item.Path == "" || item.Path == null)
                        {
                            <div class="col-lg-1"> <input type="button" value="View Details" class="btn btn-info btn-sm" onclick="ShowDetalisModal('@item.Id','@item.TestDate');" /></div>

                        }
                        else
                        {
                            <div class="col-lg-1"> <a href="/MedicalAssistance/Download?filePath=@item.Path" class="btn btn-info btn-sm">Download</a></div>
                            @*<div class="col-lg-1"> <input type="button" value="Download" class="btn btn-info btn-sm" onclick="DownloadDetails('@item.Path');" /></div>*@

                        }


                    </div>
                </div>
                i++;
            }
        }
        else
        {

            <div>
                <h4>There is no content</h4>
            </div>
        }

    </div>

    <div class="modal fade" id="uploadAdviseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:890px;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>

                <div class="card-body" id="dvuserdetailsn" style="width: 802px;">

                    <fieldset class="for-panel">
                        @*<legend>Upload</legend>*@
                        <div class="row">
                            @*<div class="col-md-8" >
                                    <div class="form-group">
                                        <select id="ddlPlan" name="Plan" class="form-control" style="display:none;"></select>
                                    </div>
                                </div>*@
                            <div id="" class="col-md-8" @*style="border: 1px solid #eee; padding: 10px;"*@>
                                <div class="form-group">
                                    <label for="VisitDate">Visit Date</label>
                                    <input type="text" class="form-control" id="VisitDate" placeholder="Visit Date" />
                                </div>
                            </div>
                            <div class="col-md-8" @*style="border: 1px solid #eee; padding: 10px;"*@>
                                <div class="form-group">
                                    <input id="uploadMedicalAdviseImage" multiple maxlength="4" name="upload" type="file" accept="application/pdf" />
                                </div>
                            </div>
                            <div class="col-md-8" style="border: 1px solid #eee; padding: 10px;">
                                <div class="form-group">
                                    @*<button type="button" class="buttonpop" onclick="  uploadFile($('#upload'));" style="width:86px;">Upload</button>*@
                                    <button type="button" class="buttonpop" value="" id="btnUploadMedicalAdvise" onclick="UploadMedicalAdviseFile();" style="width:86px;">Upload</button>
                                </div>
                            </div>




                            <div class="col-sm-3" style="width: 63%;"></div>
                            <div class="col-sm-3" style="width: 63%;"></div>
                            <div class="col-sm-3" style="width: 63%;"></div>
                            <div class="col-sm-3" style="width: 63%;"></div>

                            <div class="form-group">
                                <input type="hidden" id="hdnPlanID" class="form-control" value="0" />
                                <input type="hidden" id="hdnPlanCategoryId" value="" />
                                <input type="hidden" id="hdnMedicalAdviseImagePath" value="" />
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="modal-footer">
                    <label class="hidden" id="lblSuccMsg"></label>
                    @*<button type="button" class="buttonpop" id="btnAdd" onclick="return Add();" style="width:86px;">Add</button>*@
                    @*<button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="Add();">Update</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:86px;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewAdviseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog col-xl" >
            <div class="modal-content" style="width:170%;">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>

                <div class="card-body" id="dvuserdetailsn">

                    @Html.Partial("_pvMedicalAdvise")




                </div>

                <div class="modal-footer">
                    <label class="hidden" id="lblSuccMsg"></label>
                    @*<button type="button" class="buttonpop" id="btnAdd" onclick="return Add();" style="width:86px;">Add</button>*@
                    @*<button type="button" class="buttonpop" id="btnUpdate" style="display:none; width:86px;" onclick="Add();">Update</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:86px;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>













@section Scripts
{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        //const tabs = document.querySelectorAll(".tab");
        //const contents = document.querySelectorAll(".content");

        //for (let i = 0; i < tabs.length; i++) {
        //    tabs[i].addEventListener("click", () => {
        //        for (let j = 0; j < contents.length; j++) {
        //            contents[j].classList.remove("content--active");
        //        }
        //        for (let jj = 0; jj < tabs.length; jj++) {
        //            tabs[jj].classList.remove("tabs--active");
        //        }
        //        contents[i].classList.add("content--active");
        //        tabs[i].classList.add("tabs--active");
        //    });
        //}

        $(document).ready(function () {

            //GetVesselTypeForDrp();
            //GetShip();

        });

        $("#VisitDate").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });

    </script>

}

