@model TM.RestHour.Models.UserGroups
@*@model TM.RestHour.Models.Users*@

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/CreateNewUserAccount.js"></script>
<style>
    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0;
        font-size: 13px;
    }

    .modal-footer {
        padding: 15px;
        border-top: 1px solid #ffffff;
        margin-right: 54px;
    }
</style>


@Html.Hidden("Add", @Url.Action("Add", "CreateNewUserAccount"))
@Html.Hidden("loaddata", @Url.Action("LoadData", "CreateNewUserAccount"))
@Html.Hidden("loadinitialdata", @Url.Action("GetUserByCrewId", "CreateNewUserAccount"))
@Html.Hidden("validateusername", @Url.Action("CheckUserNameValididty", "CreateNewUserAccount"))
@Html.Hidden("getCrewName", @Url.Action("GetCrewByID", "CreateNewUserAccount"))

<body style="background-image: url(../background/password.jpg);
    background-size: cover;">

    <div class="row">
        <div class="col-md-7">
            <h2 class="ta">Create New User Account</h2>
        </div>
        <div class="col-md-4 bac">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div style="width: 100%; margin: 0 auto" class="tablecontainer">
                            <div class="modal-dialog" style="width: 100%; margin: 0 auto">
                                <div class=" modal-content" style="margin: 0 auto; border: none; box-shadow: none;">
                                    @*<div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Create New User Account</h4>
                                        </div>*@
                                    <input id="hdnID" type="hidden" />
                                    <div class="modal-body" style="margin-left: 50px;">
                                        <form>

                                            <div class="form-group">
                                                <label for="Username">Username</label>
                                                <input type="text" class="form-control" id="Username" placeholder="Username" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">Password</label>
                                                <input type="password" class="form-control" id="Password1" placeholder="Password" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">Confirm Password</label>
                                                <input type="password" class="form-control" id="Password2" placeholder="Password" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Group">Group &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                @*@Html.ListBoxFor(model => model.GroupID, (IEnumerable<SelectListItem>)ViewBag.Groups, new { @class = "listbox", @multiple = "multiple", @id = "ddlgrp" })*@
                                                @Html.DropDownListFor(model => model.GroupID, (IEnumerable<SelectListItem>)ViewBag.Groups, "Select Group", new { @class = "form-control", @id = "ddlgrp" })
                                            </div>
                                            <div class="form-group">
                                                <label for="selectCrew" class="control-label">Select Crew</label><br />
                                                <input type="text" class="form-control" id="CrewName" disabled="disabled" />
                                                @*@Html.DropDownListFor(model => model.CrewID, (IEnumerable<SelectListItem>)ViewBag.Crew, "Select", new { @class = "form-control", @id = "ddlCrew" })*@

                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" id="ID" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="modal-footer" align="center">
                                        <button type="button" class="button1" id="btnSave">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <table id="Mastertable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>*@
                </div>


            </div>

            @section Scripts
{
                @Scripts.Render("~/bundles/jqueryval")
                @Styles.Render("~/Content/themes/base/css")
                @Scripts.Render("~/bundles/jqueryui")

                <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
                <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>

                <script src="~/Scripts/toastr.min.js"></script>
                <link href="~/Content/toastr.min.css" rel="stylesheet" />

                <script type="text/javascript">

                    // var saveurl = $('#Save').val();
                    var posturl = $('#Add').val();

                    $(document).ready(function () {


                        SetUpGrid();



                        var orderCount = 0;






                        var GroupsJsonObject = { WF: [] };

                        $('#btnSave').on('click', function () {
                            var res = validate();
                            if (res == false) {
                                return false;
                            }
                            else {
                                var checkedIds = $('#ddlgrp').val();
                                //GroupsJsonObject.WF.push({ d: checkedIds.join(",") });

                                $.ajax({
                                    url: posturl,
                                    data:
                                        JSON.stringify({

                                            Username: $('#Username').val(),
                                            Password: $('#Password1').val(),
                                            SelectedGroupID: $('#ddlgrp').val(),
                                            CrewID: getParameterByName('crewId'),   //$('#ddlCrew').val(),
                                            ID: $('#hdnID').val()
                                        }),
                                    type: "POST",
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        //$('#Username').val("");
                                        //$('#Password').val("");
                                        //ClearValues();
                                        // alert('Data Saved Successfully');
                                        if (response.result == 'Redirect') {
                                            toastr.options = {
                                                "closeButton": false,
                                                "debug": false,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-bottom-full-width",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            };

                                            toastr.success("Data Saved Successfully");

                                            ClearValues();

                                            window.location = response.url;
                                            //SetUpGrid();
                                        }
                                        else if (response.result == "Duplicate") {
                                            toastr.options = {
                                                "closeButton": false,
                                                "debug": false,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-bottom-full-width",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            };

                                            toastr.error("User Name is already used and not available");

                                        }
                                    }
                                });
                            }


                        });

                        function ClearValues() {
                            // $('#RankID').val();
                            $("#RankID option:selected").removeAttr("selected");
                            $('#ddlgrp option:selected').each(function () {
                                $(this).prop('selected', false);
                            })
                            $('#ddlgrp').multiselect('refresh');


                        }



                        //var userName = getParameterByName('username');

                        //var selectedgroupId = getParameterByName('grp');
                        //$('#ddlgrp').val(selectedgroupId);
                        //$("#ddlgrp").prop("disabled", true);

                        var crwId = getParameterByName('crewId');
                        //$('#ddlCrew').val(crewId);
                        //$('#ddlCrew').prop('disabled', true);

                        LoadInitialData(crwId);




                    });


                    function getParameterByName(name, url) {
                        if (!url) url = window.location.href;
                        name = name.replace(/[\[\]]/g, "\\$&");
                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                            results = regex.exec(url);
                        if (!results) return null;
                        if (!results[2]) return '';
                        return decodeURIComponent(results[2].replace(/\+/g, " "));
                    }
                </script>
            }




        </div>
    </div>
</body>