@model TM.RestHour.Models.LoginModel

@{
    /**/

    Layout = null;
}



@{
    ViewBag.Title = "Index";
}


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div class="divclass"><p style="margin:0;"><strong>  @ViewBag.Message</strong></p> </div>
    }


    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/login_page.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="~/css/custom.min.css" type="text/css" media="all">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $(".divclass").hide("12000")
            }, 1112000);
        });
    </script>
    <style>
        input, select, textarea {
            max-width: 280px;
        }

        .log1 {
            position: relative;
            font-size: 19px;
            color: #FFFFFF;
            padding: -18px;
            width: 291px;
            text-align: center;
            right: 24px;
            bottom: 10px;
            position: fixed;
        }
    </style>


    <body class="page-login pace-done ">

        @Html.Hidden("ForgetPassword", @Url.Action("ResetPasswordOfID", "Login"))

        <div class="page-inner">
            <div id="main-wrapper">
                <div class="container">
                    <div class="row" style="margin:0;">
                        <div class="col-md-7">
                            <div class="login-box">

                                <!--<a href="index.html" class="logo-name text-lg text-center" style="color:#fff;">Work And Rest Hours</a>-->
                                <img src="~/images/wlogin.png" />
                               
                                <span>
                                    <img src="~/images/care.png" />
                                </span>
                                <img src="~/images/loginimg.png" class="bann" />

                                @*<p class="text-center m-t-xs text-sm">2015 © Modern by Steelcoders.</p>*@
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="login_box">
                                <div class="wh_box">
                                    <div class="lo_text">
                                        <img src="~/images/shipicon.png">
                                        <h3>Sign In</h3>
                                    </div>
                                    <div class="form-group">
                                        <label>ID</label>
                                        @Html.TextBoxFor(a => a.Users.Username)
                                        @Html.ValidationMessageFor(a => a.Users.Username)
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        @Html.PasswordFor(a => a.Users.Password)
                                        @Html.ValidationMessageFor(a => a.Users.Password)

                                    </div>
                                    <div class="signup_btn">
                                        <input type="submit" class="" id="btnAdd" value="LOGIN" />

                                    </div>
                                    @Html.ActionLink("Forgot Password?", "ResetPasswordOfID", "Login", new { @style = "color:red", @class = "text-sm" })
                                </div>
                            </div>
                            <div class="thicon">
                                <img src="~/images/tech.png" />
                            </div>
                        </div>

                       
                    </div><!-- Row -->
                </div>
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->

        <p class="log1" style="width: 541px;">© 2018,Tech-innology Pte. Ltd., All rights are reserved</p>


    </body>



    <!--//header-->

    <!--//main-->


    @*<div style="width: 1145px; margin: 0 auto" class="tablecontainer">
            <div class="modal-dialog" style="width: 470px; margin: 0 auto">
                <div class=" modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Please enter your username and password to log in:</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            @*<div class="form-group">
                                    <input type="hidden" id="ID" />
                                </div>



                            <table>
                                <tr>
                                    <td>@Html.LabelFor(a => a.Username)</td>
                                    <td>@Html.TextBoxFor(a => a.Username)</td>
                                    <td>@Html.ValidationMessageFor(a => a.Username)</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(a => a.Password)</td>
                                   <td>@Html.PasswordFor(a => a.Password) </td>
                                    <td>@Html.ValidationMessageFor(a => a.Password) </td>


                                </tr>
                                <tr>
                                    <td></td>
                                    <td>

                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@



}

<!-- js -->
<!-- //js -->


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")







@*<h2>Login</h2>

    @using (Html.BeginForm("GetUserAuthentication", "Login", FormMethod.Post))

    {
        //this  is for create form tag
        @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                                        @Html.ValidationSummary(true)
        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    }

    @* This below line is for create javascript section *@

