@model TM.RestHour.Models.LoginModel

@{
    /**/

    Layout = null;
}



@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-3.2.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div class="divclass validate_Error">@ViewBag.Message</div>
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/login_page_WORTH.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="~/css/custom.min.css" type="text/css" media="all">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $(".divclass").hide("12000")
            }, 1112000);
        });
    </script>

    <body class="page-login pace-done ">

        @Html.Hidden("ForgetPassword", @Url.Action("ResetPasswordOfID", "Login"))

        <div class="page-inner">
            <div id="main-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="login_box">
                                <div class="wh_box">
                                    <div class="lo_text">
                                        <img src="~/img/logo_Login_Worth.png">
                                    </div>
                                    <div class="tagline">Care for seafarer</div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="pull-left inputIcon">
                                                    <label><img src="~/img/user_Icon.png" /></label>
                                                </div>
                                                <div class="pull-left inputText">
                                                    @Html.TextBoxFor(a => a.Users.Username)
                                                    @Html.ValidationMessageFor(a => a.Users.Username)
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="pull-left inputIcon">
                                                    <label><img src="~/img/lock_Icon.png" /></label>
                                                </div>
                                                <div class="pull-left inputText">
                                                    @Html.PasswordFor(a => a.Users.Password)
                                                    @Html.ValidationMessageFor(a => a.Users.Password)
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="checkBoxArea">
                                                <div class="pull-left inputCheckBox">
                                                    <input type="checkbox" name="remember" value="remember me" />
                                                </div>
                                                <div class="pull-left inputCheckBox">
                                                    <label for="remember">Remember me</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="signup_btn">
                                                <button type="submit" class="" id="btnAdd" value="Sign In"><img src="~/img/signIn_button.png" /></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="forget_Btn_Div">
                                                @Html.ActionLink("Forgot Password?", "ResetPasswordOfID", "Login", new { @class = "forget_Btn" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div>
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->



    </body>



    <!--//header-->

    <!--//main-->


    @*<div style="width: 1145px; margin: 0 auto" class="tablecontainer">
            <div class="modal-dialog" style="width: 470px; margin: 0 auto">
                <div class=" modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Please enter your username and password to log in:</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            @*<div class="form-group">
                                    <input type="hidden" id="ID" />
                                </div>



                            <table>
                                <tr>
                                    <td>@Html.LabelFor(a => a.Username)</td>
                                    <td>@Html.TextBoxFor(a => a.Username)</td>
                                    <td>@Html.ValidationMessageFor(a => a.Username)</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(a => a.Password)</td>
                                   <td>@Html.PasswordFor(a => a.Password) </td>
                                    <td>@Html.ValidationMessageFor(a => a.Password) </td>


                                </tr>
                                <tr>
                                    <td></td>
                                    <td>

                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@



}

<!-- js -->
<!-- //js -->


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")







@*<h2>Login</h2>

    @using (Html.BeginForm("GetUserAuthentication", "Login", FormMethod.Post))

    {
        //this  is for create form tag
        @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                                        @Html.ValidationSummary(true)
        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    }

    @* This below line is for create javascript section *@

